.text-link-estatistica {
  color: white;
}

.text-link-estatistica:hover {
  color: yellow;
}

.card.color-background-links {
  background-color: #006494;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: #006494;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #006494;
  color: yellow;
  /*  font-size: 1.3rem; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.mapa .ra {
  fill: #fef9e7;
  stroke: dodgerblue;
  transition: 1s;
}
:hover.ra {
  fill: #2ecc71;
  stroke: white;
  stroke-width: 4px;
}
