{% extends 'rotina_modulo/base.html' %}

{% load shared_components %}

{% block body %}

    

    {% Fieldset titulo="Adolescentes" %}
        <div class="row">
            <div class="col-4">
                <button class="btn btn-primary"><i class=" me-2 fa-solid fa-print"></i>Imprimir Efetivo</button>
            </div>
        </div>
        {% Filtros %}{% /Filtros %}
        <div class="table-responsive-xl">
            <strong>Total: {{page_obj|length}}</strong>
            <table class="table border table-hover align-middle">
                <thead class="table-blue">
                    <tr >
                        <th class="text-start" scope="col">Adolescente</th>
                        <th class="text-start" scope="col">Processo</th>
                        <th class="col-3" scope="col">Tipo de Vaga Ocupada</th>
                        <th class="col-3" scope="col">Equipe Referência</th>
                        <th scope="col">Protetiva</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for entrada in page_obj %}
                        <tr>
                            <td class="text-start">
                                <div class="d-flex">
                                    <div>
                                        {{entrada.adolescente}}
                                    </div>
                                    

                                </div>
                                <td>
                                {% if entrada.processo.str_sem_nome %}
                                  {{entrada.processo.str_sem_nome}}
                                {% endif %}
                                {% if entrada.processo.str_sem_nome_paai %}
                                  {{entrada.processo.str_sem_nome_paai}}
                                {% endif %}
                                </td>
                                <td>{{entrada.tipo_vaga|default:'Não informado'}}</td>
                            <td>{% for referencia in entrada.equipe_referencia %} <small>{{referencia.nome}}</small>{% if not forloop.last %},{% endif %} {% endfor %}</td>
                            <td>{% if entrada.protetiva %} <i class="fa-solid fa-check"></i> {% endif %}</td>
   
                        </tr>
                    {% endfor %}



                </tbody>
            </table>
        </div>
        {% Paginacao %}{% /Paginacao %}

        {% /Fieldset %}

{% endblock %}

