{% extends 'rotina_modulo/base.html' %}

{% load shared_components %}

{% block body %}

    

    {% Fieldset titulo="Adolescentes" %}
        <div class="row">
            <div class="col-4">
                <button class="btn btn-primary"><i class=" me-2 fa-solid fa-print"></i>Imprimir Efetivo</button>
            </div>
        </div>
        {% Filtros %}{% /Filtros %}
        <div class="table-responsive-xl">
            <strong>Total: {{page_obj|length}}</strong>
            <table class="table border table-hover align-middle">
                <thead class="table-blue">
                    <tr >
                        <th class="text-start" scope="col">Adolescente</th>
                        <th class="text-start" scope="col">Processo</th>
                        <th class="col-3" scope="col">Tipo de Vaga Ocupada</th>
                        <th class="col-3" scope="col">Equipe Referência</th>
                        <th scope="col">Protetiva</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for entrada in page_obj %}
                        <tr>
                            <td class="text-start">
                                <div class="d-flex">
                                    <div>
                                        {{entrada.adolescente}}
                                    </div>
                                    {% if entrada.em_atividade %} <h5 class="mx-2"><span class="badge bg-success">{{entrada.atividade_atual.atividade.descricao}}</span></h5    >{% endif %}</td>

                                </div>
                                <td>
                                {% if entrada.processo.str_sem_nome %}
                                  {{entrada.processo.str_sem_nome}}
                                {% endif %}
                                {% if entrada.processo.str_sem_nome_paai %}
                                  {{entrada.processo.str_sem_nome_paai}}
                                {% endif %}
                                </td>
                                <td>{{entrada.tipo_vaga|default:'Não informado'}}</td>
                            <td>{% for referencia in entrada.equipe_referencia %} <small>{{referencia.nome}}</small>{% if not forloop.last %},{% endif %} {% endfor %}</td>
                            <td>{% if entrada.protetiva %} <i class="fa-solid fa-check"></i> {% endif %}</td>
                            <td class="text-end">
                                {% if entrada.adolescente.tem_risco_ativo %}
                                    <a class="mr-2"
                                        href="{% url 'prontuario:risco-list' entrada.adolescente.uuid %}"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="
                                        Riscos:
                                        {% for risco in entrada.adolescente.riscos_ativos.all %} 
                                            {% if not forloop.first %},{% endif %}
                                            {% for tipo in risco.tipo_risco.all %} 
                                                {{tipo}}{% if not forloop.last %},{% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        ">
                                        <i class="text-danger fs-5 fa-solid fa-triangle-exclamation"></i>
                                    </a>
                                {% endif %}

                                <a href="{% url 'prontuario:adolescente-update' entrada.adolescente.uuid %}" class="mx-1" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Prontuário">
                                  <i class="text-info fs-5 fa-solid fa-clipboard"></i>
                                </a>
                                <a class="mx-1"
                                    href="{% url 'rotina_modulo:adolescente-historico-atividade' modulo.uuid entrada.uuid %}"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Timeline Atividades">
                                    <i class="text-primary fs-5 fa-solid fa-diagram-project"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}



                </tbody>
            </table>
        </div>
        {% Paginacao %}{% /Paginacao %}

        {% /Fieldset %}

{% endblock %}

