{% extends "central/base.html" %}
{% load shared_components %}

{% block body %}


{% Fieldset titulo="Vinculações" %}
{% if 'alteracoes_vinculo.criar_vinculacoes' in perms %}
  <a 
    class="btn btn-primary color-white"
    href="{% url 'central:vinculacao-create'%}"
    > 
    <i class="fas fa-plus-circle"></i>
    Nova Vinculação
  </a>
{% endif %}
  {% Filtros %}{% /Filtros %}
<div class="table-responsive-xl">

  <table class="table border table-hover align-middle">
    <thead class='table-blue'>
      <tr>
        <th scope="col"> <small>Data</small></th>
        <th scope="col">Adolescente</th>
        <th scope="col">Processo</th>
        <th scope="col">Unidade Destino</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for vinculacao in page_obj %}
        <tr>
         
          <td>
            <small>
              {{vinculacao.criado_em|date:"d/m/Y"}}
            </small>
          </td>

          <td>
              {% if vinculacao.adolescente %}
                {{vinculacao.adolescente.nome}}
                <a href="{% url 'prontuario:adolescente-update' vinculacao.adolescente.uuid %}" class="mx-1" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Prontuário">
                <i class="text-info fs-8 fa-solid fa-clipboard"></i>
                </a>
              {% endif %}
          </td>

          <td>
            <small>
              {% if vinculacao.processo %}
                {{vinculacao.processo.str_sem_nome}}
              {% endif %}
            </small>
          </td>
            
          <td>
            <small class="text-center">
            {{vinculacao.unidade_destino.sigla|default:""}}
            </small>
          </td>
          
            <td>
              {% if vinculacao.get_status_display == "Pendente" %}
                <span class="badge bg-warning">{{vinculacao.get_status_display}}</span>
              {% elif vinculacao.get_status_display == "Realizada" %}
                <span class="badge bg-success">{{vinculacao.get_status_display}}</span>

                {% if vinculacao.entrada_antiga.status == 3 %}
                <span class="badge bg-warning">Saída Pendente de {{vinculacao.entrada_antiga.unidade.sigla}}</span>
                {% elif vinculacao.entrada_criada.status == 1 %}
                  <span class="badge bg-warning">Entrada Pendente em {{vinculacao.entrada_criada.unidade.sigla}}</span>
                {% elif vinculacao.entrada_criada.status > 1 %}
                  <span class="badge bg-primary">Entrada Realizada em {{vinculacao.entrada_criada.unidade.sigla}}</span>
                {% endif %}

              {% elif vinculacao.get_status_display == "Cancelado" %}
                <span class="badge bg-danger">{{vinculacao.get_status_display}}</span>
              {% endif %}
              
                
            </td>
            
            <td>
              
                {% if vinculacao.status == 2 %}
                  {% if vinculacao.entrada_antiga %}
                    {% if not vinculacao.entrada_criada.status > 1 and vinculacao.entrada_antiga.status == 3%}
                      <a class="mx-1"
                        href="{% url 'central:vinculacao-desfazer' vinculacao.uuid %}"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="Desfazer"
                        > 
                        <i class="text-primary fs-5 fa-solid fa-rotate-left"></i>
                      </a>
                    {% endif %}

                {% else %}
                  {% if vinculacao.entrada_criada.status == 1 %}
                  <a class="mx-1"
                    href="{% url 'central:vinculacao-desfazer' vinculacao.uuid %}"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Desfazer"
                    > 
                    <i class="text-primary fs-5 fa-solid fa-rotate-left"></i>
                  </a>
                  {% endif %}
                {% endif %}  







                {% endif %}

                {% if vinculacao.get_status_display == "Pendente" %}
                  <a class="mx-1"
                  href="{% url 'central:vinculacao-vincular' vinculacao.uuid %}"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Vincular"
                  > 
                    <i class="text-primary fs-5 fa-solid fa-user-plus"></i>
                  </a>
                  
                  
                  <a class="mx-1"
                  href="{% url 'central:vinculacao-update' vinculacao.uuid %}"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"
                  > 
                  
                    <i class="text-primary fs-5 fa-solid fa-pen-to-square"></i>
                  
                  </a>
                {% endif %}
                
                {% if vinculacao.status is not 2 %}
                    
                    <a data-bs-toggle="modal" data-bs-placement="top" title="Deletar"
                      data-bs-target="#cancelar{{vinculacao.id}}">
                      <i class="text-danger fs-5 fa-solid fa-trash-can"></i>
                    </a>
                    
                      {% Modal %}
                        {% arg id %}cancelar{{vinculacao.id}}{% endarg %}
                        
                        Tem certeza que deseja <b>DELETAR</b> {{vinculacao}}?
                        <br>
                        {% arg botoes %}
                          
                          <form method="POST" action="{% url 'central:vinculacao-delete' vinculacao.uuid %}">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger btn-foto" value="Deletar">
                          </form>
                        
                        {% endarg %}
                    
                      {% /Modal %}

                {% endif %}
              
            </td>
          
        </tr>
      {% endfor %}
  
      
    </tbody>
  </table>
</div>
{% Paginacao %}{% /Paginacao %}
{% /Fieldset %}
{% endblock %}

