{% extends "central/base.html" %}
{% load shared_components %}

{% block body %}



{% Fieldset titulo="Desvinculações" %}
{% if 'alteracoes_vinculo.criar_desvinculacoes' in perms %}
<a 
class="btn btn-primary color-white"
href="{% url 'central:desvinculacao-create'%}"
> 
<i class="fas fa-plus-circle"></i>
Nova Desvinculação
</a>
{% endif %}
  
  {% Filtros %}{% /Filtros %}
<div class="table-responsive-xl">

  <table class="table border table-hover align-middle">
    <thead class='table-blue'>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Adolescente</th>
        <th scope="col">Processo</th>
        <th scope="col">Unidade Origem</th>
        <th scope="col">Status</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for desvinculacao in page_obj %}
        <tr>
          
          <td>
            <small>
              {{desvinculacao.criado_em|date:"d/m/Y"}}
            </small>
          </td>

          <td>
              {% if desvinculacao.adolescente %}
                {{desvinculacao.adolescente.nome}}
                <a href="{% url 'prontuario:adolescente-update' desvinculacao.adolescente.uuid %}" class="mx-1" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Prontuário">
                <i class="text-info fs-8 fa-solid fa-clipboard"></i>
                </a>
              {% endif %}
          </td>

          <td>
            <small>
              {% if desvinculacao.processo %}
                {{desvinculacao.processo.str_sem_nome}}
              {% endif %}
            </small>
          </td>
          <td>
            <small class="text-center">
            {{desvinculacao.unidade_origem.sigla|default:""}}
            </small>
          </td>
            <td>
              {% if desvinculacao.get_status_display == "Pendente" %}
                <span class="badge bg-warning">{{desvinculacao.get_status_display}}</span>
              {% elif desvinculacao.get_status_display == "Realizada" %}
                <span class="badge bg-success">{{desvinculacao.get_status_display}}</span>

                {% if desvinculacao.entrada_antiga.status == 3 %}
                  <span class="badge bg-warning">Saída Pendente em {{desvinculacao.entrada_antiga.unidade.sigla}}</span>
                {% elif desvinculacao.entrada_antiga.status > 3 %}
                  <span class="badge bg-primary">Saída Realizada em {{desvinculacao.entrada_antiga.unidade.sigla}}</span>
                {% endif %}


              {% elif desvinculacao.get_status_display == "Cancelado" %}
                <span class="badge bg-danger">{{desvinculacao.get_status_display}}</span>
              {% endif %}
            </td>
            
            <td>
              
              {% if desvinculacao.status == 2 %} 
                {% if desvinculacao.entrada_antiga.status == 3 %}
                <a class="mx-1"
                  href="{% url 'central:desvinculacao-desfazer' desvinculacao.uuid %}"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Desfazer"
                > 
                  <i class="text-primary fs-5 fa-solid fa-rotate-left"></i>
                </a>
                {% endif %}
              {% endif %}
              
                {% if desvinculacao.get_status_display == "Pendente" %}
                  <a class="mx-1"
                  href="{% url 'central:desvinculacao-desvincular' desvinculacao.uuid %}"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Desvincular"
                  > 
                  
                    <i class="text-primary fs-5 fa-solid fa-user-minus"></i>
                    
                  </a>
                

                  <a class="mx-1"
                  href="{% url 'central:desvinculacao-update' desvinculacao.uuid %}"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"
                  > 
                  
                      <i class="text-primary fs-5 fa-solid fa-pen-to-square"></i>
                    
                  </a>
                {% endif %}

                {% if desvinculacao.status is not 2 %}
                  
                  <a data-bs-toggle="modal" data-bs-placement="top" title="Deletar"
                    data-bs-target="#cancelar{{desvinculacao.id}}">
                    <i class="text-danger fs-5 fa-solid fa-trash-can"></i>
                  </a>
                  
                    {% Modal %}
                      {% arg id %}cancelar{{desvinculacao.id}}{% endarg %}
                      
                      Tem certeza que deseja <b>DELETAR</b> {{desvinculacao}}?
                      <br>
                      
                      {% arg botoes %}
                        
                        <form method="POST" action="{% url 'central:desvinculacao-delete' desvinculacao.uuid %}">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-danger btn-foto" value="Deletar">
                        </form>
                      
                      {% endarg %}
                  
                    {% /Modal %}

              {% endif %}
              </td>
          
        </tr>
      {% endfor %}
  
      
    </tbody>
  </table>
</div>
{% Paginacao %}{% /Paginacao %}
{% /Fieldset %}
{% endblock %}

