{% extends 'rotina_modulo/base.html' %}

{% load shared_components %}

{% block js %}
 <script>
    function PrintElem(elem)
    {
        var mywindow = window.open('', 'PRINT', 'height=800,width=1200');

        mywindow.document.write("<html><head><title> Efetivo {{modulo.unidade}} {% if modulo.unidade.modulos.count > 1 %}- Modulo {{modulo.descricao}}{% endif %} </title>");
        mywindow.document.write('</head><body >');
        mywindow.document.write("<h2>Efetivo {{modulo.unidade}} {% if modulo.unidade.modulos.count > 1 %}- Modulo {{modulo.descricao}}{% endif %} </h2>");   
        mywindow.document.write("<table border='1px' style='border: 1px solid black; border-collapse: collapse; width:100%;'>"+document.getElementById(elem).innerHTML+'</table>');
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

        return true;
    }
 </script>
{% endblock %}

{% block body %}

    {% Fieldset titulo="Adolescentes" %}


    
        <div class="row">
            <div class="col-4">
                <button class="btn btn-primary" onclick="PrintElem('table')"><i class=" me-2 fa-solid fa-print"></i>Imprimir Efetivo</button>
            </div>
        </div>
        {% Filtros %}{% /Filtros %}
        <div class="table-responsive-xl">
            <strong>Total: {{page_obj|length}}</strong>
            <table  id="table" class="table border table-hover align-middle text-center">
                <thead class="table-blue">
                    <tr >
                        <th class="col-3 text-start" scope="col">Adolescente</th>
                        <th class="col-1 text-center" scope="col">Processo</th>
                        <th class="col-1 text-center" scope="col">Idade</th>
                        <th class="col-2 text-center" scope="col">Contagem de Dias</th>
                        {% if modulo.quartos.exists %} <th  class="text-center" scope="col">Quarto</th>{% endif %}
                        <th class="text-center" scope="col">Medidas</th>
                        <th class="text-end" scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    {% for entrada in page_obj %}
                        <tr>
                            <td class="text-start">
                                {{entrada.adolescente}}
                                <!-- <a href="{% url 'prontuario:adolescente-update' entrada.adolescente.uuid %}" class="mx-1" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Prontuário">
                                <i class="text-info fs-8 fa-solid fa-clipboard"></i>
                                </a> -->
                              
                              

                            </td>
                            <td class="col-1 text-center">
                                <small>
                                    {{entrada.processo.str_sem_nome|default:'Não cadastrado'}}
                                </small>
                            </td>

                            <td class=" col-1 text-center"> <small>{{ entrada.adolescente.data_nascimento|formata_idade }}</small> </td>

                            <td class="text-center" >
                                {% if entrada.data_entrada is not None %}
                                    
                                {% define entrada.data_entrada.date|days_since as dias_na_unidade %}    
                                    {{dias_na_unidade}} dia(s) na Unidade
                                    
                                    {% if entrada.processo %}
                                        {% if entrada.processo.data_apreensao %}
                                            {% define entrada.processo.data_apreensao|days_since as dias_desde_a_apreensao %}
                                            <br>
                                            <small>
                                                ({{dias_desde_a_apreensao}} dia(s) da apreensão)
                                            </small>

                                        {% endif %}
                                    {% endif %}

                                {% endif %}

                            </td>
                            
                            
                            
                            {% if modulo.quartos.exists %}<td  class="text-center">{{entrada.quarto.numero}}{{entrada.quarto.nome|default:''}}</td> {% endif %}
                            
                            <td class="text-center" >
                                <small>
                                        {% if entrada.protetiva %}M.P.{% endif %}
                                        
                                        {% if entrada.tem_medida_adaptacao %}
                                            {% if entrada.protetiva %}, {% endif %}
                                            {% for medida in entrada.medidas_adaptacao_ativas %}
                                            M.A. até {{medida.data_fim|date:"d/m/Y"}}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if entrada.tem_medida_disciplinar %}
                                            
                                            {% if entrada.tem_medida_adaptacao %}, {% endif %}
                                            {% if not entrada.tem_medida_adaptacao and entrada.protetiva %}, {% endif %}
                                            
                                            {% for medida in entrada.medidas_disciplinares_ativas %}
                                            M.D. até {{medida.data_fim|date:"d/m/Y"}}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                </small>
                            </td>
                 
                        </tr>
                    {% endfor %}



                </tbody>
            </table>
        </div>
        {% Paginacao %}{% /Paginacao %}

        {% /Fieldset %}

{% endblock %}

