{% extends "rotina_modulo/base.html" %}
{% load shared_components %}

{% block body %}

{% url 'rotina_modulo:modulo-entradas' modulo.uuid  as link_adolescentes_modulo%}


<fieldset class="border p-1 p-sm-4 bg-light">
        
           <div class="row">
                      
            {% for quarto in quarto_list %}
                <div class="col-lg-6">
                    <div class="card m-1" >
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4">Quarto {{quarto.numero}}{{quarto.nome|default:""}}</h5>
                            
                            <a href="{{link_adolescentes_modulo}}?quarto={{quarto.id}}" style="height:0px; top:1px;" class="my-2 position-absolute"> <small> Listar</small></a>
                            

                            <div class="row pt-2">
                                {% for entrada in quarto.entradas_adol_no_quarto %}
                                <div class="col-6 col-sm-3 mb-3 text-center position-relative">
                                    
                                    {% if entrada.adolescente.foto_mais_recente.foto.url %}
                                    <img src="{{ entrada.adolescente.foto_mais_recente.foto.url }}" class="img-fluid foto-img shadow-sm carometro_foto" alt="foto do adolescente">
                                    {% else %}
                                    <img src="{% static 'images/fotoAdolescente.jpg' %}" class="img-fluid foto-img shadow-sm carometro_foto" alt="foto do adolescente">
                                    {% endif %}
                                    <h6 class="position-absolute" style="top: 105px; left: 12px;"><span class="badge bg-success">{{entrada.atividade_atual.atividade.nome_curto|truncatechars:20}}</span></h6>
                                    <div>
                                        <small class="carometro_nome">
                                            {{entrada.adolescente.nome|truncatechars:28}} 
                                        </small>
                                                                           
                                            <a href="{% url 'prontuario:adolescente-update' entrada.adolescente.uuid %}" class="mx-1" data-bs-toggle="tooltip"
                                            data-bs-placement="top" title="Prontuário">
                                              <i class="text-info fs-8 fa-solid fa-clipboard"></i>
                                            </a>
                                            <a class="m-1"
                                                href="{% url 'rotina_modulo:adolescente-historico-atividade' modulo.uuid entrada.uuid %}"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Timeline Atividades">
                                                <i class="text-primary fs-8 fa-solid fa-diagram-project"></i>
                                            </a>
                                    </div>
                                </div>
                                
                                
                                {% endfor %}
                                
                                <span> <b style="color: rgb(30, 28, 28);">Total: {{quarto.entradas_atuais.count}}</b>
                                    {% if quarto.entradas_adol_em_atividade_externa.count == 1 %}
                                    <small style="color: rgb(103 98 98);">({{quarto.entradas_adol_em_atividade_externa.count}} adolescente em atividade externa)</small>
                                    {% elif quarto.entradas_adol_em_atividade_externa.count > 1 %}
                                    <small style="color: rgb(103 98 98);">({{quarto.entradas_adol_em_atividade_externa.count}} adolescentes em atividade externa)</small>
                                    {% endif %}
                                </span>
                                
                                
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
        
        </div>
    
        



       


</fieldset>
    
    
{% endblock %}
