{% extends "rotina_modulo/base.html" %}
{% load shared_components %}

{% block body %}

{% url 'rotina_modulo:modulo-entradas' modulo.uuid  as link_adolescentes_modulo%}


<fieldset class="border p-1 p-sm-4 bg-light">
        
           <div class="row">
                      
            {% for quarto in quarto_list %}
                <div class="col-lg-6">
                    <div class="card m-1" >
                        <div class="card-body">
                            <h5 class="card-title text-center mb-4">Quarto {{quarto.numero}}{{quarto.nome|default:""}}</h5>
                            
                            <a href="{{link_adolescentes_modulo}}?quarto={{quarto.id}}" style="height:0px; top:1px;" class="my-2 position-absolute"> <small> Listar</small></a>
                            

                                
                                

                                
                           
                                
                                
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
        
        </div>
    
        



       


</fieldset>
    
    
{% endblock %}
