<!-- MODULOS -->
{% if unidade.modulos.count > 1 %}
    <div class="d-flex justify-content-center item-submenu {% if request.resolver_match.url_name == 'home-modulos' %} atual {% endif %}">
        <a href="{% url 'rotina_modulo:home-modulos' unidade.uuid %}" class="">
            <i class="fa-solid fa-house me-1"></i>
            Módulos
        </a>
    </div>
{% endif %}

<!-- CHEGADAS PREVISTAS -->
{% if 'unidades.ver_chegadas' in perms %}
<div class="d-flex justify-content-center item-submenu {% if 'acautelamento' in request.resolver_match.url_name %} atual {% endif %}">
        <a href="{% url 'rotina_modulo:acautelamento-list' unidade.uuid %}" class="">
            <i class="fa-solid fa-person-circle-plus me-1 fs-5"></i>
            Chegadas Previstas
        </a>
    </div>
{% endif %}

<!-- SAIDAS PREVISTAS -->
{% if 'unidades.ver_saidas' in perms %}
<div class="d-flex justify-content-center item-submenu {% if 'saida' in request.resolver_match.url_name %} atual {% endif %}">
        <a href="{% url 'rotina_modulo:saida-list' unidade.uuid %}" class="">
            <i class="fa-solid fa-person-circle-minus me-1 fs-5"></i>
            Saídas Previstas
        </a>
    </div>
{% endif %}

<!-- EFETIVO GERAL -->
{% if 'unidades.editar_entradas' in perms %}
<div class="d-flex justify-content-center item-submenu {% if 'efetivo-geral' in request.resolver_match.url_name %} atual {% endif %}">
        <a href="{% url 'rotina_modulo:efetivo-geral-list' unidade.uuid %}" class="">
            <i class="fa-solid fa-hard-drive me-1"></i>
            Efetivo Geral
        </a>
    </div>
{% endif %}



<div class="d-flex justify-content-center item-submenu {% if 'historico-unidade' in request.resolver_match.url_name %} atual {% endif %}">
    <a href="{% url 'rotina_modulo:historico-unidade' unidade.uuid %}" class="">
        <i class="fa-solid fa-landmark me-1"></i>
        Histórico Unidade
    </a>
</div>

