<!-- MODULOS -->
{% if modulo.unidade.modulos.count > 1 %}
    <div class="d-flex justify-content-center item-submenu ">
        <a href="{% url 'rotina_modulo:home-modulos' modulo.unidade.uuid %}" class="">
            <i class="fa-solid fa-house me-1"></i>
            Módulos
        </a>
    </div>
{% endif %}

<!-- QUARTOS -->
{% if modulo.quartos.exists %}
    <div class="d-flex justify-content-center item-submenu {% if 'quartos' in request.resolver_match.url_name %} atual {% endif %}">
        <a href="{% url 'rotina_modulo:quartos-modulo' modulo.uuid %}" class="">
            <i class="fa-solid fa-bed me-1"></i>
            Quartos
        </a>
    </div>
{% endif %}
<!-- EFETIVO -->
{% if modulo.unidade.tipo_unidade.descricao == "Atendimento Inicial" %}
    

{% elif modulo.unidade.tipo_unidade.descricao == "Meio Aberto" %}

    <div class="d-flex justify-content-center item-submenu {% if 'adolescente-list' in request.resolver_match.url_name %} atual {% endif %}">
        <a href="{% url 'uama:adolescente-list' modulo.uuid %}" class="">
            <i class="fa-solid fa-person me-1"></i>
            Adolescentes
        </a>
    </div>

{% else %}

    <div class="d-flex justify-content-center item-submenu {% if 'modulo-entradas' in request.resolver_match.url_name %} atual {% endif %}">
        <a href="{% url 'rotina_modulo:modulo-entradas' modulo.uuid %}" class="">
            <i class="fa-solid fa-person me-1"></i>
            Adolescentes
        </a>
    </div>

{% endif %}









