{% extends "rotina_modulo/base.html" %}
{% load shared_components %}

{% block body %}


{% Fieldset class="border rounded position-relative bg-white px-4 py-0 my-3"%} 
<div class="row justify-content-center">
    {% if 'unidades.acessar_todas' in perms or 'unidades.acessar_todas_internacoes' in perms %}
    <div class="col-xl-7">
        <fieldset class="border rounded position-relative bg-white pt-4 pb-9 px-4 mb-3 mt-4">
            <legend class=" fw-bold legenda-flutuante w-auto fw-bold "> 
            Unidades de Internação
            </legend>
        
    
            <div class="table-responsive-xl">
    
            <table class="table table-hover align-middle">
                <thead class='table-blue'>
                <tr>
                    <th scope="col" class = "text-center w-25" >Unidade</th>
                    <th scope="col" class = "text-center w-25" >Tipo de Vaga</th>
                    <th scope="col" class="col-1"></th>
                    <th scope="col" class = "text-center" >Ocupação</th>
                </tr>
                </thead>
                <tbody>
                
                    {% for unidade in unidades_internacao%}
                    <tr>
                        {% with unidade.vagas.items|length|add:1 as rowspan %}
                        <td class='bg-light text-center fw-bold fs-6' rowspan='{{rowspan}}'>
                            <a class = "w-100 h-100" href="{% url 'rotina_modulo:home-modulos' unidade.uuid %}">
                            {{unidade.sigla}}
                            </a>
                        </td>
                        {% endwith %}
                        
                        {% for tipo_vaga, vagas in unidade.vagas.items %}
                        <tr {% if forloop.last %} class='fw-bold fs-6'{% else %} class = "table-light"{% endif %}>      
                            <td>{{tipo_vaga}}</td>
                            <td>
                                <strong>{{vagas.ocupadas}}/{{vagas.total}}</strong>
                            </td>
                            <td>
                                <div class="progress" style="height: 35px;">
                                <div class="progress-bar progress-bar {{vagas.progress_bg_class}}" role="progressbar" style="width: {{vagas.porcentagem|replace:',|.'}}%;" aria-valuenow="{{vagas.ocupadas}}" aria-valuemin="0" aria-valuemax="{{vagas.total}}">
                                  </div>
                                </div>
                            </td>
                                
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tr>
                
                    {% endfor %}

                    <tr>
                        <td class='bg-light text-center fw-bold fs-6' rowspan='5'>
                            <a class = "w-100 h-100">TOTAL</a>
                        </td>
                      
                        <tr>
                            <td  colspan="2">
                                Internação Estrita
                            </td>
                            <td  class= 'bg-light text-center'>
                                <strong>{{ somatorio_internacao.total_estrita}}</strong>
                            </td>
                        </tr>

                        <tr>
                            <td  colspan="2">
                                Internação Provisória
                            </td>
                            <td  class='bg-light text-center'>
                                <strong>{{ somatorio_internacao.total_provisoria }}</strong>
                            </td>
                        </tr>

                        <tr>
                            <td  colspan="2">
                                Internação Sanção
                            </td>
                            <td  class='bg-light text-center'>
                                <strong>{{ somatorio_internacao.total_sancao }}</strong>
                            </td>
                        </tr>

                        <tr>
                            <td  colspan="2">
                                Geral
                            </td>
                            <td  class='bg-light text-center'>
                                <strong>{{ somatorio_internacao.somatorio }}</strong>
                            </td>
                        </tr>
                      
                </tr>

                    
            </tbody>
            </table>
        </fieldset>

        <fieldset class="border rounded position-relative bg-white pt-4 pb-9 px-4 mb-3 mt-4">
        <legend class=" fw-bold legenda-flutuante w-auto fw-bold "> 
          Atendimento Inicial
        </legend>
        <div class="table-responsive-xl">
      
          <table class="table table-hover align-middle">
            <thead class='table-blue'>
              <tr>
                <th scope="col" class = "text-center w-25" >Unidade</th>
                <th scope="col" class="col-1"></th>
                <th scope="col" class = "text-center" >Ocupação</th>
              </tr>
            </thead>
            <tbody>
            {% for unidade in unidades_atendimento_inicial %}
              <tr >
                
                <td class='bg-light text-center fw-bold fs-6'>
                  <a class = "w-100 h-100" href="{% url 'rotina_modulo:home-modulos' unidade.uuid %}">
                    {{unidade.sigla}}
                    </a>
                </td>             
                <td class = "p-2">
                  <strong class="fs-10 fw-bold">{{unidade|dictitem:'vagas'|dictitem:'Total'|dictitem:'ocupadas'}}/{{unidade|dictitem:'vagas'|dictitem:'Total'|dictitem:'total'}}</strong>
                </td>
                <td>
                  <div class="progress " style="height: 35px;">
                    <div class="progress-bar progress-bar {{unidade|dictitem:'vagas'|dictitem:'Total'|dictitem:'progress_bg_class'}}" role="progressbar" style="width: {{unidade|dictitem:'vagas'|dictitem:'Total'|dictitem:'porcentagem'|replace:',|.'}}%;" aria-valuenow="{{vagas.ocupadas}}" aria-valuemin="0" aria-valuemax="{{vagas.total}}">
                    </div>
                  </div>
                </td>
              
                  
              </tr>
          
            {% endfor %}
          </tbody>
        </table>
      </div>


    </fieldset>
    </div>
    {% endif %}

    {% if 'unidades.acessar_todas' in perms or 'unidades.acessar_todas_semiliberdades' in perms or 'unidades.acessar_todas_geamas' in perms %}
    <div class="col-xl-5">
      {% if 'unidades.acessar_todas' in perms or 'unidades.acessar_todas_semiliberdades' in perms %}

        <fieldset class="border rounded position-relative bg-white pt-4 px-4 mt-4 mb-4">
            <legend class=" fw-bold legenda-flutuante w-auto fw-bold "> 
              Unidades de Semiliberdade
            </legend>
           
      
            <div class="table-responsive-xl">
      
              <table class="table table-hover align-middle">
                <thead class='table-blue'>
                  <tr>
                    <th scope="col" class = "text-center w-25" >Unidade</th>
                    <th scope="col" class="col-1"></th>
                    <th scope="col" class = "text-center" >Ocupação</th>
                  </tr>
                </thead>
                <tbody>
                  
                    
                      {% for unidade in unidades_semiliberdade%}
                        <tr >
                          <td class='bg-light text-center fw-bold fs-6'>
                            <a class = "w-100 h-100" href="{% url 'rotina_modulo:home-modulos' unidade.uuid %}">
                              {{unidade.sigla}}
                              </a>
                          </td>             
                          <td class = "p-2">
                            <strong class="fs-10 fw-bold">{{unidade|dictitem:'vagas'|dictitem:'Total'|dictitem:'ocupadas'}}/{{unidade|dictitem:'vagas'|dictitem:'Total'|dictitem:'total'}}</strong>
                          </td>
                          <td>
                            <div class="progress " style="height: 35px;">
                              <div class="progress-bar progress-bar {{unidade|dictitem:'vagas'|dictitem:'Total'|dictitem:'progress_bg_class'}}" role="progressbar" style="width: {{unidade|dictitem:'vagas'|dictitem:'Total'|dictitem:'porcentagem'|replace:',|.'}}%;" aria-valuenow="{{vagas.ocupadas}}" aria-valuemin="0" aria-valuemax="{{vagas.total}}">
                              </div>
                            </div>
                          </td>
                        
                            
                        </tr>
                      {% endfor %}
                      
                      <tr>
                        <td class='bg-light text-center fw-bold fs-6'>
                          <a class = "w-100 h-100" >TOTAL</a>
                        </td>    
                        <td colspan="2" class="text-center">
                          <strong class="fs-10 fw-bold">{{ total_semiliberdade }}</strong>
                        </td>
                      </tr>
                </tbody>
              </table>
            </fieldset>
      
      {% endif %}

    
{% if 'unidades.acessar_todas' in perms or 'unidades.acessar_todas_geamas' in perms %}

  
    {% Fieldset %}
        <legend class=" fw-bold legenda-flutuante w-auto fw-bold "> 
          Unidades de Meio Aberto
        </legend>

            <div class="table-responsive-xl">
              
              <table class="table table-hover table-bordered align-middle">
                <thead class='table-blue'>
                  <tr>
                    <th scope="col" class = "text-center w-25" >Unidade</th>
                    <th scope="col" class = "text-center col-1" >Ocupação</th>
                  </tr>
                </thead>
                <tbody>
                  
                  
                  
                  {% for unidade in unidades_meio_aberto %}
                  
                    <tr >
                      
                      <td class='bg-light text-center fw-bold fs-6'>
                        <a class = "w-100 h-100" href="{% url 'rotina_modulo:home-modulos' unidade.uuid %}">
                            {{unidade.sigla}}
                          </a>
                        </td>             
                        <td class = "text-center">
                          <strong>{{unidade|dictitem:'vagas'|dictitem:'Total'|dictitem:'ocupadas'}}</strong>
                        </td>
                       
                        
                        
                      </tr>
                      
                      
                    {% endfor %}

                    <tr>
                      <td class='bg-light text-center fw-bold fs-6'>
                        <a class = "w-100 h-100" >TOTAL</a>
                      </td>    
                      <td colspan="2" class="text-center">
                        <strong class="fs-10 fw-bold">{{total_meio_aberto}}</strong>
                      </td>
                    </tr>
                    
                  </tbody>
                </table>
          </div>
    {% /Fieldset %}
    {% endif %}
</div>
{% endif %}
  
{% /Fieldset %}

{% endblock %}


