{% extends "prontuario/base.html" %}
{% load shared_components %}


{% block body %}


  {% CardAdolescente %}{% /CardAdolescente %}
  {% Fieldset titulo="Histórico de Ocorrências" %}
      {% Filtros %}{% /Filtros %}
      <div class="table-responsive">
      <table class=" table table-hover  text-center">
        <thead class="table-blue">
          <tr>
            <th class="col-1" scope="col">Data/Hora</th>

            <th class="col-1" scope="col">Unidade</th>
            <th class="col-1" scope="col">Participação</th>
            <th class="col-4 text-start" scope="col">Infrações</th>
            <th class="col-4 text-start" scope="col">Descrição Ocorrência</th>
            <th class="col-1" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for ocorrencia in ocorrencia_list %}
          <tr>
            <td>{{ ocorrencia.data_hora|date:'d/m/Y'}}</td>  
            <td>{{ocorrencia.unidade}}</td>
            <td>{{ocorrencia.participacao}}</td>
            <td class="text-start">

              {% for infra in ocorrencia.infracoes_graves.all %}
                {{infra|truncatechars:50}}{% if not forloop.last %}, <br> {% endif %}
              {% endfor %}
              
              {% if ocorrencia.infracoes_graves.exists and ocorrencia.infracoes_medias.exists %}<br>{% endif %}
              
              {% for infra in ocorrencia.infracoes_medias.all %}
                {{infra|truncatechars:50}}{% if not forloop.last %}, <br> {% endif %}
              {% endfor %}
              
              {% if ocorrencia.infracoes_leves.exists and ocorrencia.infracoes_medias.exists %}<br>{% endif %}
              
              {% for infra in ocorrencia.infracoes_leves.all %}
                {{infra|truncatechars:50}}{% if not forloop.last %}, <br> {% endif %}
              {% endfor %}
            </td>
            <td class="col-4 text-start">
              {{ocorrencia.descricao|truncatechars:150}}
            </td>
            <td>
                <a class="mr-2" href="{% url 'prontuario:ocorrencia-detail' adolescente.uuid ocorrencia.uuid %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver">
                  <i class="text-primary fs-5 fa-solid fa-eye"></i>
                </a>
              
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% Paginacao %}{% /Paginacao %}

    {% /Fieldset %}
{% endblock %}
