{% extends "prontuario/base.html" %}
{% load shared_components %}



{% block body %}

{% CardAdolescente %}{% /CardAdolescente %}
{% Fieldset %}


{% url 'prontuario:ocorrencia-list' adolescente.uuid as voltar_url %}
{% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
    <fieldset class="bg-light px-3 py-4 my-3 w-75 mx-auto">
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
              <tr>
                <th>Unidade</th>
                <td>
                    <h5>
                        <strong>
                            {{ocorrencia.unidade}}
                        </strong>
                    </h5>
                </td>
              </tr>
              {% if ocorrencia.unidade.modulos.count > 1 %}
              <tr>
                <th>Módulo</th>
                <td>{{ocorrencia.modulo.descricao}}</td>
              </tr>
              {% endif %}              
              <tr>
                <th>Data</th>
                <td>{{ocorrencia.data_hora}}</td>
              </tr>

              <tr>
                <th>Adolescentes Autores</th>
                <td>
                {% for adolescente in ocorrencia.adolescentes_autores.all%}
                  {{ adolescente }}{% if not forloop.last %},<br> {% endif %}
                {% endfor %}
                </td>
              </tr>

            {% if ocorrencia.adolescentes_vitimas.exists %}
              <tr>
                <th>Adolescentes Vítimas</th>
                <td>
                {% for adolescente in ocorrencia.adolescentes_vitimas.all%}
                  {{ adolescente }}{% if not forloop.last %},<br> {% endif %}
                {% endfor %}
                </td>
              </tr>
            {% endif %}

              {% if ocorrencia.infracoes_leves.exists %}
              <tr>
                <th>Infrações Leves</th>
                <td>

                {% for infra in ocorrencia.infracoes_leves.all %}
                    {{infra}}{% if not forloop.last %}<br> {% endif %}
                {% endfor %}
                
                </td>
              </tr>
              {% endif %}

              {% if ocorrencia.infracoes_medias.exists %}
              <tr>
                <th>Infrações Médias</th>
                <td>

                {% for infra in ocorrencia.infracoes_medias.all %}
                    {{infra}}{% if not forloop.last %}<br> {% endif %}
                {% endfor %}
                
                </td>
              </tr>
              {% endif %}

              {% if ocorrencia.infracoes_graves.exists %}
              <tr>
                <th>Infrações Graves</th>
                <td>

                {% for infra in ocorrencia.infracoes_graves.all %}
                    {{infra}}{% if not forloop.last %}<br> {% endif %}
                {% endfor %}
                
                </td>
              </tr>
              {% endif %}

              {% if ocorrencia.circunstancias.exists %}
              <tr>
                <th>Circunstâncias</th>
                <td>

                {% for circ in ocorrencia.circunstancias.all %}
                    {{circ}}{% if not forloop.last %}<br> {% endif %}
                {% endfor %}
                
                </td>
              </tr>
              {% endif %}
            
            <tr>
              <th>Servidores Envolvidos</th>
              <td>
              {% for serv in ocorrencia.servidores_relacionados.all %}
                  {{serv}}{% if not forloop.last %}, {% endif %}
              {% endfor %}
              </td>
            </tr>
            <tr>
                <th>Outros Servidores Envolvidos</th>
                <td>
                    {{ocorrencia.servidores_envolvidos}}
                </td>
              </tr>

              <tr>
                <th>Descrição da Ocorrência</th>
                <td>
                    {{ocorrencia.descricao}}
                </td>
              </tr>
              
              <tr>
                <th>Anexos</th>
                <td>
                    {% for anexo in ocorrencia.anexos.all %}
                        <a  target="_blank" rel="noopener noreferrer"  href="{{ anexo.anexo.url }}">
                            {{anexo.anexo|get_base64_file_name}}
                        </a>
                        {% if not forloop.last %}<br> {% endif %}
                    {% endfor %}
                </td>
              </tr>
                
              
            

            </tbody>
          </table>
          
        </div>
    </fieldset>






{% /Fieldset %}




{% endblock %}


