{% extends 'rotina_modulo/base.html' %}
{% load shared_components %}

{% block body %}


{% Fieldset %}

{% arg titulo %}
    Histórico de passagens por {{unidade.sigla}}
  {% endarg %}

  {% Filtros %}
    {% arg filtros_extra %}
      
      <div class="col-auto col-form-label-sm m-0">
        <label for="id_ordering" class="form-label mb-0">Ordenação:</label>
          <select name="ordering" class=" form-select" id="id_ordering">
            <option value="">Mais Recente</option>
            <option value="adolescente__nome" {% if 'adolescente__nome' in request.GET.ordering %} selected {% endif %} >Nome</option>
            <option value="status" {% if 'status' in request.GET.ordering %} selected {% endif %}>Status</option>
            <option value="tipo_entrada" {% if 'tipo_entrada' in request.GET.ordering %} selected {% endif %}>Tipo de Entrada</option>
            <option value="tipo_saida" {% if 'tipo_saida' in request.GET.ordering %} selected {% endif %}>Tipo de Saída</option>
          </select>
      </div>
    {% endarg %}
  {% /Filtros %}

  <div class="table-responsive">
    <strong>Total: {{object_list.count}}</strong>
    
    <table class="table border table-hover align-middle text-center">
      <thead class="table-blue">
        <tr class="small">
          <th class="col-3 text-start" scope="col"> Nome </th>
          <th scope="col"> Status </th>
          <th scope="col"> Processo </th>
          <th scope="col"> Ato Infracional </th>
          <th scope="col"> Data Entrada </th>
          <th scope="col"> Tipo Entrada </th>
          <th scope="col"> Data Saída </th>
          <th scope="col"> Tipo Saída </th>
          <th scope="col"> Origem </th>
          <th scope="col"> Destino </th>
          <th scope="col"> Observaçoes Entrada</th>
          <th scope="col"> Observaçoes Saída </th>

        </tr>
      </thead>
    
      <tbody>
        
        {% for obj in page_obj %}
          <tr>
              <td class="col-3 text-start">{{obj.adolescente.nome}} </td>
              <td>
                <small class="fst-italic">{{obj.get_status_display}}</small>
              </td>
              <td class="small">{{obj.processo.str_sem_nome|default:''}}</td>
              <td class="small">
                <small>
                  {% for ato in obj.processo.atos_infracionais.all %}
                  {{ato}} {% if not forloop.last %} / {% endif %}
                  {% endfor %}
                </small>
              </td>
              <td class="small">
                {% if obj.data_entrada %}
                  {{obj.data_entrada|date:'d/m/Y'|default:''}}
                {% elif obj.data_prevista_entrada %}
                  {{obj.data_prevista_entrada|date:'d/m/Y'|default:''}} 
                  <small class="fst-italic">(Previsão)</small>
                {% endif %}
              </td>

              <td class="small">{{obj.tipo_entrada|default:''}}</td>
              <td class="small">{{obj.data_saida|date:'d/m/Y'|default:''}}</td>
              <td class="small">{{obj.tipo_saida|default:''}}</td>
              <td class="small">{{obj.unidade_anterior|default:''}}</td>
              <td class="small">{{obj.unidade_posterior|default:''}}</td>
              <td class="small">{{obj.observacoes_entrada|default:''}}</td>
              <td class="small">{{obj.observacoes_saida|default:''}}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  
  {% Paginacao %}{% /Paginacao %}

  {% /Fieldset %}

  {% endblock %}
