{% extends 'rotina_modulo/base.html' %}

{% load shared_components %}

{% block body %}

    {% Form form=form %}
    {{form.unidade}}
    <fieldset class="border rounded p-3 bg-light mb-3">
        
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 py-1">
                {% LabeledInput field=form.descricao %}{% /LabeledInput %}
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 py-1">
                {% LabeledInput field=form.nome_curto %}{% /LabeledInput %}
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 py-1">
                {% LabeledInput field=form.tipo_atividade %}{% /LabeledInput %}
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 py-1">
                
                <label for="{{field.id_for_label}}" class="form-label mb-0">Atividade externa</label>
                {{ form.externa|add_bootstrap_form_class }}
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 py-1">
                <label for="{{field.id_for_label}}" class="form-label mb-0">Atividade exclusiva para inscritos</label>
                {{ form.exclusiva_inscritos|add_bootstrap_form_class }}
            </div>
        </div>
    </fieldset>

    {% arg botao_voltar %}
        {% url 'rotina_modulo:atividade-list' unidade.uuid as voltar_url %}
        {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
    {% endarg %}

    {% /Form %}

{% endblock %}


{% block js %}
<script>
  $("#id_tipo_atividade").bsMultiSelect();
</script>
{% endblock %}