{% extends 'rotina_modulo/base.html' %}

{% load shared_components %}

{% block body %}
<div class="row justify-content-center mt-4">
    {% Fieldset class="bg-light px-3 py-4 mb-2 col-md-6 "%}
        <div class="mt-2 row justify-content-center">
            <div class="col text-center">
                <h4 class="mb-4">
                    Enviar adolescentes para: {{atividade.descricao}}
                </h4>

            </div>
        </div>
        
        <form class="px-4" action="{% url 'rotina_modulo:modulo-atividade-enviar-multiplos-adolescentes' modulo.uuid atividade.uuid %}" method="get">
            <div class="row justify-content-center">    
                <div class="d-flex justify-content-start">
                    <input class="form-check cursor-pointer check_all mx-1" type="checkbox">
                    <div class="me-4">Marcar todos</div> 
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="table-responsive">
                <table class="table border table-sm table-hover align-middle" >
                    <thead class="table-blue">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Adolescentes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entrada in entradas %}
                            <tr id="tr_adolescente_{{entrada.adolescente.uuid}}">
                                <th>
                                    <input class="form-check cursor-pointer check_adolescente" type="checkbox" name="adolescentes" value="{{entrada.adolescente.uuid}}" id="checkbox_adolescente_{{entrada.adolescente.uuid}}">
                                </th>
                                <td class="clickable cursor-pointer">
                                    <div>{{entrada.adolescente.nome}}</div>
                                </td>
                            </tr>
                            
                        {% endfor %}

                        {% if not entradas %}
                        <tr >
                            <th>
                                
                            </th>
                            <th class="clickable cursor-pointer">
                                Nenhum adolescente disponível
                            </th>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% if entradas %}
            <div class="row justify-content-center mb-4">
                <div class="col-4 text-center">
                    <input class="btn btn-primary" type="submit" value="Enviar Adolescentes">
                </div>
            </div>
            {% endif %}
        </form>
    
    {% /Fieldset %}
</div>
{% endblock %}

{% block js %}
<script>
    $('.clickable').click(function () {
        var checkbox = $(this).parent().find('input:first');
        checkbox.prop("checked", !checkbox.prop("checked"));
        });
    
    $('.check_all').click(function () {
        var checkboxes = $('.check_adolescente');
        checkboxes.prop("checked", $(this).prop("checked"));
    });
</script>
{% endblock%}
 
