{% extends 'rotina_modulo/base.html' %}

{% load shared_components %}



{% block body %}
    <div class="row justify-content-center mt-4">
        {% Fieldset class="bg-light px-3 py-4 mb-2 col-md-6 "%}
        
            <div class="mb-2">
                <span class="fs-5 fw-bold">Enviando: </span>
                {% for adolescente in adolescentes %}
                    <small>{{adolescente.nome}}{% if not forloop.last %},{% endif %}</small>
                {% endfor %}

            </div>
            <div class="my-2">
                <span class="fs-5 fw-bold">Para a atividade: </span>
                {{atividade.descricao}}
            </div>
            <fieldset class="border rounded position-relative bg-white p-4 my-3">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.adolescentes}}
                    {{form.atividade}}
                    {{form.errors}}
                    <div class="row">
                        <div class="col py-1">
                            {% LabeledInput field=form.data_ida %}{% /LabeledInput %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-1">
                            {% LabeledInput field=form.observacoes %}{% /LabeledInput %}
                        </div>
                    </div>
                    
                    <div class="row justify-content-center">
                        <div class="col-md-8 py-1">
                            {% LabeledInput field=form.anexo %}{% /LabeledInput %}
                        </div>
                    </div>

                    <div class="row mt-4 justify-content-center">
                        <div class="col text-center">

                            <input class="btn btn-primary my-2" type="submit" value="Enviar Adolescentes">
                        </div>

                    </div>


                </form>

            </fieldset>
    
        {% /Fieldset %}

    </div>
{% endblock %}

