{% extends 'rotina_modulo/base.html' %}

{% load shared_components %}




{% block body %}
    {% Fieldset %}
        {% arg titulo %} 
            <small>Histórico da atividade</small> {{atividade.descricao}} 
        {% endarg %}
        {% Filtros %}{% /Filtros %}
        <div class="table-responsive-xl">
            <table class="table border table-hover align-middle" >
                <thead class="table-blue">
                    <tr>
                        <th scope="col">Adolescente</th>
                        <th scope="col">Data/Hora Ida</th>
                        <th scope="col">Data/Hora Retorno</th>
                        <th class="text-center" scope="col">Realizada?</th>
                        <th class="col-4" scope="col">Observacões</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    {% for obj in page_obj %}
                        <tr>
                            <td>
                            {{obj.adolescente.nome}}
                            </td>

                            <td>
                                {% if obj.data_ida %}
                                {{obj.data_ida|date:"d/m/Y H:i"|default:''}}
                                {% else %}
                                <small>Previsto para: {{obj.data_prevista_ida|date:"d/m/Y H:i"|default:''}} </small>
                                {% endif %}
                            </td>
                            <td>
                                {% if obj.retorno_indeterminado %}
                                <small> Não se aplica </small>
                                {% elif not obj.data_retorno %}
                                <small> Retorno pendente (Em Atividade) </small>
                                {% else %}
                                {{obj.data_retorno|date:"d/m/Y H:i"|default:''}}
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if obj.realizada %}
                                <i class="fa-solid fa-check"></i>
                                {% endif %}
                            </td>
                            <td>
                                <small>
                                    {{obj.observacoes|default:''|linebreaksbr}}
                                </small>
                            </td>
                            <td>
                                <a class="mr-2" href="{% url 'rotina_modulo:modulo-atividade-historico-update' modulo.uuid obj.uuid %}"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                                    <i class="text-primary fs-5 fa-solid fa-pen-to-square"></i>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        {% Paginacao %}{% /Paginacao %}
        {% /Fieldset %}

{% endblock %}

