{% load shared_components %}

{% block body %}
    {% Form form=form  enctype="multipart/form-data"%}
    
    {% arg titulo %}
        {% if form.instance.pk %}
            Editar ligação de {{form.instance.adolescente}} do dia {{form.instance.data_ligacao|date:'d/m/Y'}}
        {% else %}

        {% endif %}
    {% endarg %}

    {{form.modulo}}


    <fieldset class="border rounded p-3 bg-light mb-3">
      <div class="row justify-content-center">
        <div class="col-md-3 py-1">
          {% LabeledInput field=form.data_ligacao %}{% /LabeledInput %}
        </div>

        <div class="col-md-5 py-1">
          {% LabeledInput field=form.adolescente %}{% /LabeledInput %}
        </div>
        
        <div class="col-md-4 py-1">
          {% LabeledInput field=form.telefone %}{% /LabeledInput %}
        </div>
     
      </div>

      <div class="row justify-content-center">
        <div class="col-md-12 py-1">
          {% LabeledInput field=form.observacoes %}{% /LabeledInput %}
        </div>
      </div>
    </fieldset>
      

    {% arg botoes_extra %}
        <button type="button" data-bs-toggle="modal" data-bs-placement="top" title="Inserir Foto"
            data-bs-target="#apagar" class="btn btn-danger btn-foto">Apagar
        </button>
    {% endarg %}

    {% arg botao_voltar %}
        {% url 'rotina_modulo:modulo-ligacao-list' modulo.uuid as voltar_url %}
        {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
    {% endarg %}

    
    
      {% /Form %}
    
      {% Modal id="apagar" %}
        Tem certeza que deseja <strong>APAGAR</strong> a ligação de {{form.instance.adolescente}} do dia {{form.instance.data_ligacao|date:'d/m/Y'}}?
        {% arg botoes %}
        <form method="POST"
            action="{% url 'rotina_modulo:modulo-ligacao-delete' modulo.uuid form.instance.uuid %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger btn-foto" value="Apagar">
        </form>
        {% endarg %}
        {% /Modal %}


{% endblock %}

{% block js %}
  
  <script>
    $("#id_adolescente").change(function () {
      
        var id_adolescente = $(this).val();  
        if(id_adolescente == "") {
          var selectbox = $('#id_telefone');
          selectbox.find('option').remove();
          selectbox.append("<option value='' selected=''>---------</option>")
        }else{
            $.ajax({                       
              url: '/api/adolescentes/telefone/?adolescente='+id_adolescente,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
              type: 'GET',
              dataType: 'json', // added data type
              success: function(data) {
                if (data != null) {
                  var results = data['results']
                  var selectbox = $('#id_telefone');
                  selectbox.find('option').remove();
                  if (results.length > 0){
                    selectbox.append("<option value='' selected=''>Selecione o Telefone</option>")
                  }else{
                    selectbox.append("<option value='' selected=''>Nenhum Telefone Encontrado</option>")
                  }
                  $.each(data['results'], function (i, d) {
                      $('<option>').val(d.id).text(d.descricao +' - '+ d.telefone).appendTo(selectbox);
                  });
              }
      
      
            }
          });
        }
       
    
      });
  
      
  </script>

{% endblock %}

