{% extends 'core/reports/base.html' %}
   
{% block style %}
{{block.super}}
.section-title {
  font-size: 1.1em;
  text-transform: uppercase;
}
{% endblock %}
{% block body %}
    <div class="cabecalho my-0 mx-0" style="font-size: 1.1em;">
        <h4 class="text-center">
          {% if livro.de_modulo %} 
            {% if livro.modulo.unidade.modulos.count == 1 %}
              <b>{{livro.modulo.unidade}}</b> &nbsp;&nbsp;&nbsp;  
            {% else %}
            <b>{{livro.modulo}}</b> &nbsp;&nbsp;&nbsp;
            {% endif %}
          {% else %}
              <b>{{livro.unidade}}</b> &nbsp;&nbsp;&nbsp;
          {% endif %}
          Livro Nº <b>{{livro.numero}}</b> &nbsp;&nbsp;&nbsp; 
          Plantão Nº <b>{{livro.plantao}}</b> &nbsp;&nbsp;&nbsp; 
          Data: <b>{{livro.data_abertura.date}}</b>
        </h4>
    </div>
    
    
    <div class="identificacao" style="border-bottom: 1.5px solid #000000;">
      <table>
        <tbody>
          <tr class="py-1" style="border-bottom: .5px solid #000000;">
            <td class="col-2 fw-bold py-1">
              Plantonistas:
            </td>
            <td class="col-10">
              {%for p in livro.plantonistas.all %}
                {{p.nome}}({{p.matricula}}){% if not forloop.last%},&nbsp;{% endif %}
              {% endfor %}
            </td>
          </tr>
          <tr class="py-1" style="border-bottom: .5px solid #000000;">
            <td class="col-2 fw-bold py-1">
              Ausências:
            </td>
            <td class="col-10">
              {{livro.ausencias|linebreaksbr|default:''}}
            </td>
          </tr>
          <tr class="py-1" style="border-bottom: .5px solid #000000;">
            <td class="col-2 fw-bold py-1">
              Expediente:
            </td>
            <td class="col-10">
              {{livro.expediente|linebreaksbr|default:''}}
            </td>
          </tr>
          <tr class="py-1" style="border-bottom: .5px solid #000000;">
            <td class="col-2 fw-bold py-1">
              Observações:
            </td>
            <td class="col-10">
              {{livro.observacoes|linebreaksbr|default:''}}
            </td>
          </tr>
          <tr class="py-1" style="border-bottom: .5px solid #000000;">
            <td class="col-2 fw-bold py-1">
              Informações Servidores:
            </td>
            <td class="col-10">
              {{livro.informacoes_servidores|linebreaksbr|default:''}}
            </td>
          </tr>
          <tr class="py-1">
            <td class="col-2 fw-bold py-1">
              Outras Infos Adolescentes:
            </td>
            <td class="col-10">
              {{livro.outras_informacoes|linebreaksbr|default:''}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-2 recebimento_plantao" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>I - Recebimento do Plantão</strong></div>
      {%if livro.servidor_recebimento and livro.servidor_passagem_anterior %}
      <p>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
        Eu, {{livro.servidor_recebimento}}, matrícula {{livro.servidor_recebimento.matricula}},
        recebi o plantão do(a) agente {{livro.servidor_passagem_anterior}}, matrícula {{livro.servidor_passagem_anterior.matricula}},
        às {{livro.data_abertura.time}} do dia {{livro.data_abertura.date}}, 
        com o efetivo de {{livro.efetivo_recebimento.adolescentes.count}} adolescentes,
        estando {{livro.efetivo_recebimento.presentes}} presente(s) e {{livro.efetivo_recebimento.ausentes}} ausente(s).
      </p>
      {% endif %}

    </div>

    <div class="mt-2 patrimonio" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>II - Patrimônio</strong></div>
      <p>
        {{ livro.patrimonio|linebreaks|default:'' }}
      </p>
    </div>
      
    <div class="mt-2 instalacoes" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>III - Instalações</strong></div>
      <p>
        {{ livro.instalacoes|linebreaks|default:'' }}
      </p>
    </div>
      
    <div class="mt-2 avisos" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>IV - Avisos</strong></div>
      <p>
        {{ livro.avisos|linebreaks|default:'' }}
      </p>
    </div>
      
    <div class="mt-2 atendimento_medicacao" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>V - Medicações</strong></div>
      <p>
        {{ livro.medicacoes|linebreaks|default:'' }}
      </p>
    </div>

    <div class="mt-2 atendimento_medicacao" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>VI - Evasões</strong></div>
      <p>
        {{ livro.evasoes|linebreaks|default:'' }}
      </p>
    </div>

    <div class="mt-2 atendimento_medicacao" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>VII - Vigilância Noturna</strong></div>
      <p>
        {{ livro.vigilancia_noturna|linebreaks|default:'' }}
      </p>
    </div>

    <div class="mt-2 atendimento_medicacao" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>VIII - Alimentação</strong></div>
      <p>
        {{ livro.alimentacao|linebreaks|default:'' }}
      </p>
    </div>
      
    <div class="mt-2 efetivo" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>IX - Efetivo Recebimento</strong></div>
      
      {% if livro.efetivo_recebimento %}
      <table class="table align-middle" >
        <thead class="table-blue">
            <tr >
                <th scope="col">Adolescente</th>
                {% if livro.de_unidade %} <th class="text-center" scope="col">Módulo</th> {% endif %}
                <th class="text-center" scope="col">Quarto</th>
                <th class="text-center" scope="col"></th>
            </tr>
        </thead>
        <tbody>
        
        {% for entr in livro.efetivo_recebimento.adolescentes.all %}
          <tr>
            <td>
              {{entr.adolescente_nome}}
            </td>
            {% if livro.de_unidade %} <td class="text-center">{{entr.modulo_nome}}</td> {% endif %}
            <td class="text-center">
              {{entr.quarto_nome}}
            </td>
            <td class="text-center">
              {% if entr.presente %} Presente {% else %} {{entr.atividade_nome_curto}} {% endif %}
            </td>
          </tr>
          
        {% endfor %}

        </tbody>
      </table>
      {% endif %}
    </div>

    <div class="mt-2 entradas_e_saidas" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>X - Movimentação</strong></div>

      {% if livro.atividades_livro %}
        <table class="table align-middle" >
          <thead class="table-blue">
              <tr >
                  <th scope="col">Adolescente</th>
                  <th class="text-center" scope="col">Atividade</th>
                  <th class="text-center" scope="col">Ida</th>
                  <th class="text-center" scope="col">Retorno</th>
              </tr>
          </thead>
          <tbody>
          
          {% for hist_ativ in livro.atividades_livro %}
            <tr>
              <td>
                {{hist_ativ.adolescente.nome}}
              </td>
              
              <td class="text-center">
                {{hist_ativ.atividade.descricao}}
              </td>
              <td class="text-center">
                
                {% if hist_ativ.data_ida < livro.data_abertura%}
                  <small>{{hist_ativ.data_ida|date:"d/m/Y H:i"|default:''}}</small>
                  <br><small class="fst-italic">[PLANTÃO ANTERIOR]</small>
                
                {% else %}

                  {{hist_ativ.data_ida|date:"d/m/Y H:i"|default:''}}
                {% endif %}
              
              </td>
              <td class="text-center">
                {% if livro.seguinte %}
                  {% if hist_ativ.data_retorno >= livro.data_abertura and  hist_ativ.data_retorno < livro.seguinte.data_abertura %}
                    {{hist_ativ.data_retorno|date:"d/m/Y H:i"|default:''}}
                  {% else %}
                    <small>NÃO RETORNOU ATÉ A PASSAGEM DO PLANTÃO</small>
                  {% endif %}
                {% else %}
                  
                    {{hist_ativ.data_retorno|date:"d/m/Y H:i"|default:''}}
                  
                {% endif %}
              </td>
            </tr>
            
          {% endfor %}

          </tbody>
        </table>
      {% endif %}
    </div>

    <div class="mt-2 acompanhamentos" class="py-2" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>XI - Chegadas</strong></div>
      <div class="row my-2">
        {% if livro.chegadas %}
        <table class="table align-middle" >
          <thead class="table-blue">
              <tr >
                  <th scope="col">Adolescente</th>
                  <th class="text-center" scope="col">Data/Hora</th>
              </tr>
          </thead>
          <tbody>
          
          {% for chegada in livro.chegadas %}
            <tr>
              <td>
                {{chegada.adolescente}}
              </td>
              
              <td class="text-center">
                {% if livro.de_modulo and livro.modulo.unidade.modulos.count > 1 %}
                {{chegada.modificado_em|date:"d/m/Y H:i"|default:''}}
                {% else %}
                {{chegada.data_entrada|date:"d/m/Y H:i"|default:''}}
                {% endif %}
              </td>
            </tr>
            
          {% endfor %}

          </tbody>
        </table>
      {% endif %}
      </div>
    </div>
      
    <div class="mt-2 acompanhamentos" class="py-2" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>XII - Saídas</strong></div>
      <div class="row my-2">
        {% if livro.saidas %}
        <table class="table align-middle" >
          <thead class="table-blue">
              <tr >
                  <th scope="col">Adolescente</th>
                  <th class="text-center" scope="col">Data/Hora</th>
              </tr>
          </thead>
          <tbody>
          
          {% for saida in livro.saidas %}
            <tr>
              <td>
                {{saida.adolescente}}
              </td>
              
              <td class="text-center">
                {% if livro.de_modulo and livro.modulo.unidade.modulos.count > 1 %}
                {{saida.modificado_em|date:"d/m/Y H:i"|default:''}}
                {% else %}
                {{saida.data_saida|date:"d/m/Y H:i"|default:''}}
                {% endif %}
              </td>
            </tr>
            
          {% endfor %}

          </tbody>
        </table>
      {% endif %}
      </div>
    </div>
      

    <div class="mt-2 acompanhamentos" class="py-2" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>XIII - Acompanhamento do Plantão</strong></div>
      
        {% for acompanhamento in livro.acompanhamentos.all %}
          <div class="row ">
            <div class="col-2">
              <div class="fst-italic">
                {{acompanhamento.data_hora|date:'d/m/y H:i'}} -
              </div>
            </div>
            <div class="col-10">
              {{acompanhamento.descricao|linebreaks}}
            </div>
          </div>
        {% endfor %}
      
    </div>

      
    <div class="mt-2 efetivo_passagem" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>XIV - Efetivo Passagem</strong></div>
      
      {% if livro.efetivo_passagem %}
      <table class="table align-middle" >
        <thead class="table-blue">
            <tr >
                <th scope="col">Adolescente</th>
                {% if livro.de_unidade %} <th class="text-center" scope="col">Módulo</th> {% endif %}
                <th class="text-center" scope="col">Quarto</th>
                <th class="text-center" scope="col"></th>
            </tr>
        </thead>
        <tbody>
        
        {% for entr in livro.efetivo_passagem.adolescentes.all %}
          <tr>
            <td>
              {{entr.adolescente_nome}}
            </td>
            {% if livro.de_unidade %} <td class="text-center">{{entr.modulo_nome}}</td> {% endif %}
            <td class="text-center">
              {{entr.quarto_nome}}
            </td>
            <td class="text-center">
              {% if entr.presente %} Presente {% else %} {{entr.atividade_nome_curto}} {% endif %}
            </td>
          </tr>
          
        {% endfor %}

        </tbody>
      </table>
      {% endif %}
    </div>


    <div class="mt-2 atendimento_medicacao" style="border-bottom: 1.5px solid #000000;">
      <div class="col-12 mb-2 section-title"><strong>XV - Ocorrências</strong></div>
      <p>
        {% if livro.ocorrencias.exists %}
        <table class="table align-middle" >
          <thead class="table-blue">
            <tr>
              <th scope="col">Data/Hora</th>
              <th scope="col">Ocorrência</th>
            </tr>
          </thead>
          <tbody>
            {% for ocorrencia in livro.ocorrencias %}
            <tr>
              <td>
                {% if not livro.de_modulo and ocorrencia.modulo %} <b> Módulo {{ocorrencia.modulo.descricao}}</b> <br>{% endif %}
                {{ ocorrencia.data_hora}}
              </td>  
              <td>
                <b>ADOLESCENTES AUTORES:</b>
                {% for adolescente in ocorrencia.adolescentes_autores.all%}
                  {{ adolescente }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
                
                {% if ocorrencia.adolescentes_autores.exists %}
                  <br><b>ADOLESCENTES VÍTIMAS:</b>
                  {% for adolescente in ocorrencia.adolescentes_autores.all%}
                  {{ adolescente }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}

                {% if ocorrencia.infracoes_leves.exists %}
                  <br><b>INFRAÇÕES LEVES:</b>
                  {% for infra in ocorrencia.infracoes_leves.all %}
                  {{infra}}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}
                
                {% if ocorrencia.infracoes_medias.exists %}
                  <br><b>INFRAÇÕES MEDIAS:</b>
                  {% for infra in ocorrencia.infracoes_medias.all %}
                  {{infra}}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}

                {% if ocorrencia.infracoes_graves.exists %}
                  <br><b>INFRAÇÕES GRAVES:</b>
                  {% for infra in ocorrencia.infracoes_graves.all %}
                  {{infra}}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}

                {% if ocorrencia.circunstancias.exists %}
                  <br><b>CIRCUNSTÂNCIAS:</b>
                  {% for circ in ocorrencia.circunstancias.all %}
                  {{circ}}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}

                {% if ocorrencia.servidores_relacionados.exists %}
                  <br><b>SERVIDORES:</b>
                  {% for infra in ocorrencia.servidores_relacionados.all %}
                    {{infra}}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}
                {% if ocorrencia.descricao %}
                <br><b>DESCRIÇÃO:</b>
                {{ocorrencia.descricao|linebreaks}}
                {% endif %}
              
            </tr>
            {% endfor %}

          </tbody>
        </table>
        {% endif %}
      </p>
    </div>
      
  

    <div class="mt-2 passagem_plantao" >
      <div class="col-12 mb-2 section-title"><strong>XVI - Passagem Plantão</strong></div>
      
      
      <p class="mt-2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if livro.seguinte %} 
            Eu, {{livro.seguinte.servidor_passagem_anterior}}, matrícula {{livro.seguinte.servidor_passagem_anterior.matricula}}, 
            passo o plantão para o meu substituto legal {{livro.seguinte.servidor_recebimento}}, matrícula {{livro.seguinte.servidor_recebimento.matricula}}, 
            às {{livro.seguinte.data_abertura.time}} do dia {{livro.seguinte.data_abertura.date}}, 
            com o efetivo de {{livro.seguinte.efetivo_recebimento.adolescentes.count}} adolescentes,
            estando {{livro.seguinte.efetivo_recebimento.presentes}} presente(s) e {{livro.seguinte.efetivo_recebimento.ausentes}} ausente(s).
        {% else %}
            Eu, _______________________________, matrícula ______________, 
            passo o plantão para o meu substituto legal _______________________________, matrícula ______________, 
            às ______ do dia ________, 
            com o efetivo de ___ adolescentes,
            estando ___ presente(s) e ___ ausente(s).
        {% endif %}

      </p><br><br><br><br><br><br><br><br>
        <div class="row justify-content-around text-center">
          <div class="col-4" style="border-top: 1px solid #000000;">
            {{livro.seguinte.servidor_passagem_anterior}}<br>
            {{livro.seguinte.servidor_passagem_anterior.matricula}}
          </div>
          <div class="col-4" style="border-top: 1px solid #000000;">
            {{livro.seguinte.servidor_recebimento}}<br>
            {{livro.seguinte.servidor_recebimento.matricula}}
          </div>
        </div>
      </div>
{% endblock %}