{% extends 'prontuario/base.html' %}
{% load shared_components %}


 
{% block body %}


{% Form form=form enctype="multipart/form-data" url_name_prefix="prontuario:atendimento-psicossocial" %}
{{form.errors}}

<fieldset class="border rounded p-3 bg-light my-3">
  <div class="row ">
    <div class="col-md-3">
      {% LabeledInput field=form.data_atendimento %} {% /LabeledInput %}
    </div>
    <div class="col-md-3">
      {% LabeledInput field=form.especialidade_atendimento %} {% /LabeledInput %}
    </div>
    <div class="col-md-3">
      {% LabeledInput field=form.tipo_atendimento %} {% /LabeledInput %}
    </div>
  </div>
</fieldset>

<fieldset class="border rounded p-3 bg-light my-3">
  <div class="row ">
    <div class="col-md-12">
      {% LabeledInput field=form.observacoes %} {% /LabeledInput %}
    </div>
  </div>
</fieldset>

<fieldset class="border rounded p-3 bg-light my-3">
  <div class="row ">
    <div class="col-md-12">
      {% LabeledInput field=form.observacoes_publicas %} {% /LabeledInput %}
    </div>
  </div>
</fieldset>




<fieldset class="border rounded p-3 bg-light mb-3">

  {% InlineFormset formset=anexos %}
  {{anexos.non_form_errors}}

  {% arg empty_form %}
      {{ anexos.empty_form.id }}
      <div class="row justify-content-center">
          <div class="col-md-6 mt-auto mb-2">
            {% LabeledInput field=anexos.empty_form.anexo %}{% /LabeledInput %}
          </div>
          <div class="col-md-2 mt-auto mb-2">
            {% LabeledInput field=anexos.empty_form.DELETE %}{% /LabeledInput %}
          </div>
      </div>
  {% endarg %}
  {% for anexo in anexos %}
    {% FormErrors form=anexo%}{%/FormErrors%}
    {{ anexo.id }}
  
    <div class="row justify-content-center">
      <div class="col-md-6 mt-auto mb-2">
        {% LabeledInput field=anexo.anexo %}{% /LabeledInput %}
      </div>
      <div class="col-md-2 mt-auto mb-2">
        {% if anexo.instance.criado_por == request.user or not anexo.instance.pk %}
            {% LabeledInput field=anexo.DELETE %}{% /LabeledInput %}
        {% else %}
            <small class="fst-italic" style="color: #777474;"> criado por: {{anexo.instance.criado_por}} </small>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  {% /InlineFormset%}
</fieldset>


{% arg botao_voltar %}
  {% url 'prontuario:atendimento-psicossocial-list' adolescente.uuid as voltar_url %}
  {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}

{% endarg %}


{% /Form %}


{% endblock %}
