{% extends "prontuario/base.html" %}
{% load shared_components %}


{% block body %}

  {% CardAdolescente %}{% /CardAdolescente %}
  {% Fieldset titulo="Atendimentos" %} 
    {% if 'atendimento_psicossocial.incluir' in perms %}
      <a href="{% url 'prontuario:atendimento-psicossocial-create' adolescente.uuid %}" class="btn btn-primary color-white mb-2">
        <i class="fas fa-plus-circle"></i>
        Adicionar Atendimento
      </a>
    {% endif %}
    <div>
      {% Filtros %}{% /Filtros %}
      <div class="table-responsive">
      <table class="
          table
          table-hover
          ">
        <thead class="table-blue">
          <tr>
            <th class="col-2 text-start" scope="col">Atendido Por:</th>
            <th class="col-2" scope="col">Especialidade</th>
            <th class="col-2" scope="col">Tipo de Atendimento</th>
            <th class="col-7" scope="col">Observações Públicas</th>
            <th class="col-1 text-center" scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {%for atendimento in page_obj %}
          <tr>
            <td class = "col-2 text-start"> 
              {{atendimento.criado_por}} <br><small>em {{atendimento.data_atendimento|date:"d/m/Y"}}</small>              
            </td>
            <td>{{atendimento.especialidade_atendimento|default:''}}</td>
            <td>{{atendimento.tipo_atendimento|default:''}}</td>
            <td>
              
                {{atendimento.observacoes_publicas|truncatechars:300|linebreaksbr}}
              

            </td>
            <td class="text-center">
              {% if 'atendimento_psicossocial.editar' in perms %}
              <a href="{% url 'prontuario:atendimento-psicossocial-update' adolescente.uuid atendimento.uuid %}" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Editar">
                <i class="text-primary fs-4 fa-solid fa-pen-to-square"></i>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    {% Paginacao %}{% /Paginacao %}

    {% /Fieldset %}


{% endblock %}

