{% extends "prontuario/base.html" %}
{% load shared_components %}



{% block body %}



{% Form form=form url_name_prefix="prontuario:educacao" enctype="multipart/form-data" %}


<fieldset class="border rounded p-3 bg-light mb-3">
  <div class="row ">
    <div class="col-lg-4 py-1">
      {% LabeledInput field=form.data_atendimento %} {% /LabeledInput %}
    </div>

    <div class="col-lg-4 py-1">
      {% LabeledInput field=form.encaminhado_cre %} {% /LabeledInput %}
    </div>
    <div class="col-lg-4 py-1">
      {% LabeledInput field=form.sabe_ler %}{% /LabeledInput %}
    </div>

  </div>

</fieldset>

<fieldset class="border rounded p-3 bg-light mb-3">
  <div class="row">
    <div class="col-lg-3 py-1">
      {% LabeledInput field=form.escolaridade %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3 py-1">
      {% LabeledInput field=form.situacao_escolar %}{% /LabeledInput %}
    </div>
    <div class="col-lg-3 py-1">
      {% LabeledInput field=form.nome_escola %}{% /LabeledInput %}
    </div>
    <div class="col-lg-3 py-1">
      {% LabeledInput field=form.i_educar %}{% /LabeledInput %}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 py-1">
      {% LabeledInput field=form.uf %} {% /LabeledInput %}
    </div>
    <div class="col-lg-4 py-1">
      {% LabeledInput field=form.cidade %}{% /LabeledInput %}
    </div>
    <div class="col-lg-4 py-1">
      {% LabeledInput field=form.bairro %}{% /LabeledInput %}
    </div>
  </div>


</fieldset>

<fieldset class="border rounded p-3 bg-light mb-3">
  <div class="row">
    <div class="col-lg-12 py-1">
      {% LabeledInput field=form.observacoes %} {% /LabeledInput %}
    </div>

  </div>


</fieldset>
<fieldset class="border rounded p-3 bg-light my-3">

  {% InlineFormset formset=anexos %}
  {{anexos.non_form_errors}}
  {% arg empty_form %}
    {{ anexos.empty_form.id }}
    {{ anexos.empty_form.atendimento_educacao }}
  
    <div class="row justify-content-center">
      <div class="col-md-6 mt-auto mb-2">
        {% LabeledInput field=anexos.empty_form.anexo %}{% /LabeledInput %}
      </div>
      <div class="col-md-2 mt-auto mb-2">
        {% LabeledInput field=anexos.empty_form.DELETE %}{% /LabeledInput %}
      </div>
    </div>
  {% endarg %}
  {% for anexo in anexos %}
    {% FormErrors form=anexo %}{% /FormErrors %}
    {{anexo.errors}}
    {{ anexo.id }}
    {{anexo.atendimento_educacao }}
    
    <div class="row justify-content-center">
      <div class="col-md-6 mt-auto mb-2">
        {% LabeledInput field=anexo.anexo %}{% /LabeledInput %}
      </div>
      <div class="col-md-2 mt-auto mb-2">
        {% if anexo.instance.criado_por == request.user or not anexo.instance.pk %}
              {% LabeledInput field=anexo.DELETE %}{% /LabeledInput %}
          {% else %}
              <small class="fst-italic" style="color: #777474;"> criado por: {{anexo.instance.criado_por}} </small>
          {% endif %}
      </div>
    </div>
  {% endfor %}

  {% /InlineFormset%}
</fieldset>

{% arg botao_voltar %}
{% url 'prontuario:educacao-list' adolescente.uuid as voltar_url %}
{% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
{% endarg %}


{% /Form %}




{% endblock %}




{% block js %}

<script>
  
  $("[id$='uf']").change(function () {
      id_prefix = $(this).attr('id').slice(0,-2);
      var selectboxCidade = $(`#${id_prefix}cidade`);
      var selectboxBairro = $(`#${id_prefix}bairro`);


      var id_uf = $(this).val();  
      if(id_uf == "") {
       
        selectboxBairro.find('option').remove();
        selectboxBairro.append("<option value='' selected=''>---------</option>")
        selectboxCidade.find('option').remove();
        selectboxCidade.append("<option value='' selected=''>---------</option>")
      }else{

          $.ajax({                       
            url: '/api/dominios/cidade/?uf='+id_uf,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            type: 'GET',
            dataType: 'json', // added data type
            success: function(data) {
          
              if (data != null) {
                
                selectboxBairro.find('option').remove();
                selectboxBairro.append("<option value='' selected=''> Nenhuma Cidade Selecionada </option>")

             
                selectboxCidade.find('option').remove();
                
                if (data.length > 0){
                  selectboxCidade.append("<option value='' selected=''> Selecione a Cidade </option>")
                }else{
                  selectboxCidade.append("<option value='' selected=''>---------</option>")
                }
    
                $.each(data, function (i, d) {
                    $('<option>').val(d.codigo).text(d.nome).appendTo(selectboxCidade);
                });
            }
    
    
          }
        });
      }
     
  
    });


    $("[id$='cidade']").change(function () {
      id_prefix = $(this).attr('id').slice(0,-6);
      var selectboxBairro = $(`#${id_prefix}bairro`);
    
      var id_cidade = $(this).val();  
      if(id_cidade == "") {
        selectboxBairro.find('option').remove();
        selectboxBairro.append("<option value='' selected=''>---------</option>")
      }else{

          $.ajax({                       
            url: '/api/dominios/bairro/?cidade='+id_cidade,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            type: 'GET',
            dataType: 'json', // added data type
            success: function(data) {
              if (data != null) {
                selectboxBairro.find('option').remove();
                
                if (data.length > 0){
                  selectboxBairro.append("<option value='' selected=''> Selecione o Bairro </option>")
                }else{
                  selectboxBairro.append("<option value='' selected=''>---------</option>")
                }
    
                $.each(data, function (i, d) {
                    $('<option>').val(d.id).text(d.nome).appendTo(selectboxBairro);
                });
            }
    
    
          }
        });
      }
     
  
    });

</script>

{% endblock %}