{% extends "tjdft/base.html" %}
{% load shared_components %}

{% block body %}


{% Fieldset titulo="Solicitações" %}
    <a 
      class="btn btn-primary color-white"
      href="{% url 'tjdft:solicitacao-create'%}"
      > 
      <i class="fas fa-plus-circle"></i>
      Nova Solicitação
    </a>
  {% Filtros %}{% /Filtros %}
<div class="table-responsive-xl">

  <table class="table border table-hover align-middle">
    <thead class='table-blue'>
      <tr>
        <th scope="col">Data Solicitação</th>
        <th class="col-4" scope="col">Adolescente </th>
        <th scope="col">Processo</th>
        <th scope="col">Ação</th>
        <th scope="col">Medida</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for solicitacao in page_obj %}
      <tr>
          <td>
            {{solicitacao.criado_em|date:"d/m/Y"}}
          </td>
          <td>
              {% if solicitacao.adolescente %}
                {{solicitacao.adolescente.nome}}
              {% else %}
                {{solicitacao.nome_adolescente}}
              {% endif %}
          </td>
          <td>
            <small>
              {% if solicitacao.processo %}
                {{solicitacao.processo.str_sem_nome|default:""}}
              {% else %}
                {{solicitacao.numero_processo|default:""}}
              {% endif %}
            </small>
        </td>
          <td>
            {{solicitacao.acao_solicitada.descricao }}
          </td>
          <td>
            {{solicitacao.medida.descricao}}
          </td>
  
  
          <td>
            {% if not solicitacao.alteracao_solicitada %}
              {% if solicitacao.get_status_display == "Aguardando Validação" %}
                <span class="badge bg-warning">{{solicitacao.get_status_display}}</span>
              {% elif solicitacao.get_status_display == "Validado" %}
                <span class="badge bg-primary">{{solicitacao.get_status_display}}</span>
              {% elif solicitacao.get_status_display == "Em Processamento" %}
                <span class="badge bg-secondary">{{solicitacao.get_status_display}}</span>
              {% elif solicitacao.get_status_display == "Realizado" %}
                <span class="badge bg-success">{{solicitacao.get_status_display}}</span>
              {% elif solicitacao.get_status_display == "Negado" %}
                <span class="badge bg-danger">{{solicitacao.get_status_display}}</span>
              {% endif %}
            
            {% else %}
                
            <div class="text-danger fw-bold text-align-center py-0 my-0">
              Alteração Solicitada!
            </div>
            
            <div class="text-danger text-align-center py-0 my-0">
                <a tabindex="0" class="text-danger text-align-center text-underline-hover" 
                role="button" data-bs-toggle="popover" data-bs-trigger="focus" 
                title="Mensagem de alteração" data-bs-placement="top" 
                data-bs-content="{{solicitacao.mensagem_alteracao}}">
                <small class="py-0 my-0">Clique para ver</small>
                </a>
            </div>
                
            {% endif %}
          </td>
          
          <td>
            {% if solicitacao.status <= 2 %}
            <a class="mr-2"
            href="{% url 'tjdft:solicitacao-update' solicitacao.uuid %}"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"
            > 
           
                <i class="text-primary fs-4 fa-solid fa-pen-to-square"></i>
       
            </a>
            {% endif %}
  
            </td>
        </tr>
      {% endfor %}
  
      
    </tbody>
  </table>
</div>
{% Paginacao %}{% /Paginacao %}
{% /Fieldset %}
{% endblock %}

