{% extends 'rotina_modulo/base.html' %}
{% load shared_components %}

{% block body %}


{% Fieldset %}

 
<div class="row mb-5 justify-content-center">
 
  <div class="row mb-5 justify-content-center">
    {% for estatistica in estatisticas %}
        <div class="col-md-3 my-2"> <!-- Início da Informação -->
            <div class="card text-white bg-secondary">
                <div class="card-body">
                    <a class="stretched-link" href="?tipo_vaga={{estatistica.tipo_vaga__id}}"></a>
                    <div class="row align-items-center gx-0">
                        
                        <div class="col text-center">
                            <!-- Title -->
                            <h5 class="text-white">
                                {{estatistica.tipo_vaga__descricao}}
                            </h5>
                            <!-- Heading -->
                            <span class="h2 mb-0">
                                {{estatistica.total}}
                            </span>
                        </div>
                    </div> 
                </div>
            </div>
        </div>                 
    {% endfor %}
</div>

{% arg titulo %}
    Lista Geral : {{unidade.sigla}}
  {% endarg %}

  {% Filtros %}{% /Filtros %}
 
  <div class="table-responsive">
    <strong>Total: {{object_list.count}}</strong>
    
    <table class="table border table-hover align-middle text-center">
      <thead class="table-blue">
        <tr class="small">
          <th class="col-3 text-start" scope="col"> Nome </th>
          
          <th class="col-1 text-center" scope="col"> Processo </th>
          <th class="col-2 text-center" scope="col"> Contagem Dias </th>
          <th scope="col"> Tipo Vaga </th>
          {% if unidade.modulos.count > 1 %}  <th scope="col"> Módulo </th> {% endif %}
          {% if unidade.modulos.first.quartos.count > 1 %} <th scope="col"> Quarto </th> {% endif %}
          <th scope="col"> Tipo Entrada </th>


        </tr>
      </thead>
    
      <tbody>
        
        {% for obj in page_obj %}
          <tr>
              <td class="col-3 text-start">{{obj.adolescente.nome}} </td>
              
              <td class="col-1 text-center small" >{{obj.processo.str_sem_nome|default:''}}</td>
              
              <td class="text-center" >
                <small>
                {% if obj.data_entrada is not None %}
                    
                {% define obj.data_entrada.date|days_since as dias_na_unidade %}    
                    {{dias_na_unidade}} dia(s) na Unidade
                    
                    {% if obj.processo %}
                        {% if obj.processo.data_apreensao %}
                            {% define obj.processo.data_apreensao|days_since as dias_desde_a_apreensao %}
                            <br>
                                ({{dias_desde_a_apreensao}} dia(s) da apreensão)
                                
                        {% endif %}
                    {% endif %}
                                
                {% endif %}
                </small>
            </td>



              <td class="small"> {{obj.tipo_vaga|default:'Não informado'}}</td>
              
              {% if unidade.modulos.count > 1 %} 
                <td class="small">
                  Modulo {{obj.modulo.descricao}}
                </td>
              {%endif%}
              
              {% if unidade.modulos.first.quartos.count > 1 %} 
              <td class="small">
                Quarto {{obj.quarto.numero}}
              </td>
              {% endif %}

              <td class="small">{{obj.tipo_entrada|default:''}}</td>

          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
  
  {% Paginacao %}{% /Paginacao %}

  {% /Fieldset %}

  {% endblock %}
