{% extends "central/base.html" %}
{% load shared_components %}


{% block body %}

{% Form form=form enctype="multipart/form-data" delete_button="True" url_name_prefix="central:transferencia" %}

{% arg titulo %}
  {% if form.instance.pk %}
    Editar {{form.instance}}
  {% else  %}
    Cadastrar Transferência
  {% endif %}
{% endarg %}

{% arg botoes_extra %}

  {% url 'central:transferencia-list' as voltar_url %}
  {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
  
  {% if form.instance.pk and form.instance.status is not 2 %}    
    <a class = 'btn btn-danger' data-bs-toggle="modal" data-bs-placement="top" title="Deletar" data-bs-target="#deletar{{transferencia.id}}">
      Deletar
    </a>
  {% endif %}


{% endarg %}

{% Fieldset class="bg-light px-3 py-4 my-3" legenda_transparente="True" %}
    <div class="row">
      <div class="col-md-7 py-1">
          {% LabeledInput field=form.adolescente %} {% /LabeledInput %}
      </div>
      <div class="col-md-5 py-1">
        {% LabeledInput field=form.processo %}{% /LabeledInput %}
      </div>
    </div>

    <div class="row">
        <div class="col-md-4 py-1">
          {% LabeledInput field=form.unidade_destino %} {% /LabeledInput %}
        </div>
        <div class="col-md-4 py-1">
          {% LabeledInput field=form.tipo_vaga %}{% /LabeledInput %}
        </div>
    </div>
    
    <div class="row">
      <div class="col-12 py-1">
        {% LabeledInput field=form.observacoes %} {% /LabeledInput %}
      </div>
    </div>
{% /Fieldset %}


{% Fieldset class="bg-light px-3 py-4 my-3" %}
  {% arg titulo%}
    <small>Informações Unidade de Origem</small>
  {% endarg %}


    <div class="row justify-content-center">
      <div class="col-md-4 py-1">
        {% LabeledInput field=form.data_saida %} {% /LabeledInput %}
      </div>
      <div class="col-md-4 py-1">
        {% LabeledInput field=form.tipo_saida %} {% /LabeledInput %}
      </div>

      <div class="col-md-4 py-1">
        {% LabeledInput field=form.observacoes_saida %} {% /LabeledInput %}
      </div>
    </div>

{% /Fieldset %}

{% Fieldset class="bg-light px-3 py-4 my-3" %}
  {% arg titulo%}
  <small>Informações Unidade de Destino</small>
  {% endarg %}

    <div class="row justify-content-center">
      <div class="col-md-4 py-1">
        {% LabeledInput field=form.data_entrada %} {% /LabeledInput %}
      </div>
      <div class="col-md-4 py-1">
        {% LabeledInput field=form.tipo_entrada %} {% /LabeledInput %}
      </div>

      <div class="col-md-4 py-1">
        {% LabeledInput field=form.observacoes_entrada %} {% /LabeledInput %}
      </div>
    </div>

{% /Fieldset %}



{% Fieldset class="bg-light px-3 py-4 my-3" legenda_transparente="True" legenda="Anexos"%}

  {% InlineFormset formset=anexos %}
    {% arg empty_form %}
      <div class="row justify-content-center px-0 mb-2 m-0">
        {{ anexos.empty_form.id }}

        <div class="col-lg-5 px-1 mt-auto mb-2">
          {% LabeledInput field=anexos.empty_form.anexo %}{% /LabeledInput %}
        </div>
        
        <div class="col-lg-5 px-1 mt-auto mb-2">
          {% LabeledInput field=anexos.empty_form.descricao %}{% /LabeledInput %}
        </div>
        
        <div class="col-lg-2 px-1 mt-auto mb-2">
          {% LabeledInput field=anexos.empty_form.DELETE %}{% /LabeledInput %}
        </div> 

        {{ anexos.empty_form.solicitacao }}
      </div>
    {% endarg %}
    
    {% for anexo in anexos %}
    {% FormErrors form=anexo %}{% /FormErrors %}
      <div class="row justify-content-center px-0 mb-2 m-0">
        {{ anexo.id }}

        <div class="col-lg-5 px-1 mt-auto mb-2">
          {% LabeledInput  field=anexo.anexo %}{% /LabeledInput %}
        </div>
    
        <div class="col-lg-5 px-1 mt-auto mb-2">
          {% LabeledInput  field=anexo.descricao %}{% /LabeledInput %}
        </div>
        
        <div class="col-lg-2 px-1 mt-auto mb-2">
          {% if anexo.instance.criado_por == request.user or not anexo.instance.pk %}
              {% LabeledInput field=anexo.DELETE %}{% /LabeledInput %}
          {% else %}
              <small class="fst-italic" style="color: #777474;"> criado por: {{anexo.instance.criado_por}} </small>
          {% endif %}
        </div>
        

        {{ anexo.solicitacao }}
      </div>
    {% endfor %}



  {% /InlineFormset%}

{% /Fieldset %}


{% /Form %}


{% endblock %}

{% block modals %}
    {% Modal %}
      {% arg id %}deletar{{transferencia.id}}{% endarg %}
      Tem certeza que deseja <b>DELETAR</b> {{transferencia}}?
      <br>
      {% arg botoes %}
        {% if form.instance.pk %}
          <form method="POST" action="{% url 'central:transferencia-delete' transferencia.uuid %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger btn-foto" value="Deletar">
          </form>
        {% endif %}
      {% endarg %}
    {% /Modal %}
{% endblock %}



{% block js %}

<script>
  $("#id_adolescente").change(function () {
    
      var id_adolescente = $(this).val();  
      if(id_adolescente == "") {
        var selectbox = $('#id_processo');
        selectbox.find('option').remove();
        selectbox.append("<option value='' selected=''>---------</option>")
      }else{

          $.ajax({                       
            url: '/api/processos/?adolescente='+id_adolescente,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            type: 'GET',
            dataType: 'json', // added data type
            success: function(data) {
              if (data != null) {
                var results = data['results']
                var selectbox = $('#id_processo');
                selectbox.find('option').remove();
                
                if (results.length > 0){
                  selectbox.append("<option value='' selected=''>Selecione o Processo</option>")
                }else{
                  selectbox.append("<option value='' selected=''>Nenhum Processo Encontrado</option>")
                }
    
                $.each(data['results'], function (i, d) {
                  
                  $('<option>').val(d.id).text(d.str_sem_nome).appendTo(selectbox);
                });
            }
    
    
          }
        });

        $( document ).ready(function() {
          var selected = $('#id_processo selected');
          if(!selected){
            $('#id_adolescente').trigger('change');
          }
        });

        $.ajax({                       
          url: '/api/unidades/unidade/?adolescente='+id_adolescente,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          type: 'GET',
          dataType: 'json', // added data type
          success: function(data) {
            if (data != null) {
              var results = data['results']
              $('#id_unidade_origem').val(data.id)
          }
  
  
          }
        });
      }
     
    });

  
</script>

{% endblock %}