{% extends "prontuario/base.html" %}
{% load shared_components %}

{% block body %}


  {% CardAdolescente %}{% /CardAdolescente %}
  {% Fieldset titulo="Familiares" %} 
  <a class="btn btn-primary color-white mb-2" href="{% url 'prontuario:familiar-create' adolescente.uuid %}">
    <i class="fas fa-plus-circle"></i>
    Adicionar Familiar
  </a>
  
    <div>
      <table class="table border table-hover align-middle">
        <thead class='table-blue'>
          <tr>
            <th class="col-4" scope="col">Nome</th>
            <th class="col-2" scope="col">Vinculo</th>    
            <th class="col-1 text-center" scope="col"><small>Responsavel?</small></th>
            <th class="col-1 text-center" scope="col"><small>Visitante?</small></th>
            <th class="col-3" scope="col">Observações</th>
            <th class="col-1" scope="col"></th>
          </tr>
        </thead>
        <tbody>

          {% for familiar in familiar_list %}
          <tr>
            <td>{{familiar.nome}}</td>
            <td>{{familiar.vinculo|default:'Não Informado'}}</td>

            <td class="col-1 text-center" >
              {% if familiar.responsavel %}
                <i class="fa-solid fa-check"></i>
              {% endif %}
            </td>
            <td class="col-1 text-center">
              {% if familiar.visitante_autorizado %}
                <i class="fa-solid fa-check"></i>
              {% endif %}
            </td>
            <td>
              {{familiar.observacoes|truncatechars:40}}
            </td>

            <td class="text-center">
              <a class="mr-2" href="{% url 'prontuario:familiar-update' adolescente.uuid familiar.uuid %}" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Editar">
                <i class="text-primary fs-4 fa-solid fa-pen-to-square"></i>
              </a>
            </td>
          </tr>

          {% endfor %}


        </tbody>
      </table>
    </div>
    {% /Fieldset %}

{% endblock %}
