{% extends "prontuario/base.html" %}
{% load shared_components %}


{% block body %}



    {% Form form=form enctype="multipart/form-data" novalidate=True %}


        <fieldset class="border rounded p-3 bg-light mb-3">
        <div class="row align-items-center">
            <div class="col-md-6 py-1">
                {% LabeledInput field=form.nome %} {% /LabeledInput %}
            </div>
            <div class="col-md-3 py-1">
                {% LabeledInput field=form.vinculo %} {% /LabeledInput %}
            </div>
            <div class="col-md-3 py-1">
                {% LabeledInput field=form.cpf %} {% /LabeledInput %}
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-4 py-1">
                {% LabeledInput field=form.rg %} {% /LabeledInput %}
            </div>
            <div class="col-md-4 py-1">
                {% LabeledInput field=form.orgao_emissor %} {% /LabeledInput %}
            </div>
            <div class="col-md-4 py-1">
                {% LabeledInput field=form.trabalho %} {% /LabeledInput %}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4 py-1">
                {% LabeledInput field=form.renda %}{% /LabeledInput %}
            </div>
            <div class="col-md-2 py-1">
                {% LabeledInput field=form.responsavel %} {% /LabeledInput %}
            </div>
            <div class="col-md-2 py-1">
                {% LabeledInput field=form.visitante_autorizado %} {% /LabeledInput %}
            </div>  
        </div>
        <div>    
            <div class="col-md-12 py-1">
                {% LabeledInput field=form.observacoes %} {% /LabeledInput %}
            </div>
        </div>
        
        
        <fieldset class="border rounded p-3 bg-light mb-3">

            {% InlineFormset formset=anexos %}
            {{anexos.non_form_errors}}
            {% arg empty_form %}
            <div class="row justify-content-center">
              {{ anexos.empty_form.id }}
              <div class="col-md-8 mt-auto mb-2">
                {% LabeledInput field=anexos.empty_form.anexo %}{% /LabeledInput %}
                </div>
                <div class="col-md-2 mt-auto mb-2">
                    {% LabeledInput field=anexos.empty_form.DELETE %}{% /LabeledInput %}
                </div>
            </div>
            {{ anexos.empty_form.familiar }}
            {% endarg %}
            {% for anexo in anexos %}
            {% FormErrors form=anexo %}{% /FormErrors %}
            {{anexo.errors}}
            {{ anexo.id }}
            <div class="row justify-content-center">
              <div class="col-md-8 mt-auto mb-2">
                {% LabeledInput field=anexo.anexo %}{% /LabeledInput %}
              </div>
              <div class="col-md-2 mt-auto mb-2">
                {% if anexo.instance.criado_por == request.user or not anexo.instance.pk %}
                    {% LabeledInput field=anexo.DELETE %}{% /LabeledInput %}
                {% else %}
                    <small class="fst-italic" style="color: #777474;"> criado por: {{anexo.instance.criado_por}} </small>
                {% endif %}
              </div>
            </div>
            {{anexo.familiar }}
            {% endfor %}
          
            {% /InlineFormset%}
          </fieldset>


    </fieldset>

        {% arg botao_voltar %}
        {% url 'prontuario:familiar-list' adolescente.uuid as voltar_url %}
        {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
        {% endarg %}


    {% /Form %}


{% endblock %}

