
  <div class="card">
    <div class="card-body p-0">
        <div class="d-flex flex-wrap" >
            <div class="fs-6 p-2" style="color: rgb(20, 42, 60); margin-left: 20px;">
              <a href="{% url 'prontuario:adolescente-list' %}">  
                  <i class="fa-solid fa-backward me-1"></i>
                  <span class="fw-bold">Prontuários</span>
              </a>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">

  <div class="col-md-12">
        <div class="d-flex justify-content-start flex-wrap submenu">
          
          <div class="d-flex justify-content-center item-submenu {% if request.resolver_match.url_name == 'adolescente-update' %} atual {% endif %}">
            <a href="{% url 'prontuario:adolescente-update' adolescente.uuid %}" class=""><i
                class="fa-solid fa-address-card me-2"></i>Identificação</a>
          </div>

        




        
        </div>
  </div>





</div>
