{% extends "rotina_modulo/base.html" %}
{% load shared_components %}


{% block body %}
  
    {% Fieldset titulo="Chegadas previstas"%}
    
      <div class="table-responsive-xl">
        
        <table class="table border table-hover align-middle">
          <thead class="table-blue">
            <tr>
              <th scope="col">Adolescente</th>
              <th scope="col">Processo</th>
              <th scope="col">Tipo Entrada</th>
              <th scope="col">Data Prevista</th>
              <th scope="col">Observações</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for entrada in entradaadolescente_list %}
            <tr>
              <td>
                
                  {{entrada.adolescente.nome}}
                  <a href="{% url 'prontuario:adolescente-update' entrada.adolescente.uuid %}" class="mx-1" data-bs-toggle="tooltip"
                  data-bs-placement="top" title="Prontuário">
                  <i class="text-info fs-8 fa-solid fa-clipboard"></i>
                  </a>
              </td>
  
              <td>
                <small>
                  {{entrada.processo.str_sem_nome}}
                </small>
              </td>
  
  
              <td>
                {{entrada.tipo_entrada|default:""}}
              </td>
  
              <td>
                {{entrada.data_prevista_entrada|default:""}}
              </td>

              <td>
                {{entrada.observacoes_entrada|default:''}}
                {% if entrada.transferencia_entrada %}
                  Vindo de transferência da unidade {{entrada.transferencia_entrada.unidade_origem}}
                {% endif %}
              </td>
  
              <td>

                {% if entrada.apto_para_checkin %}
                <a class="mr-2" href="{% url 'rotina_modulo:acautelamento' unidade.uuid entrada.uuid %}" data-bs-toggle="tooltip"
                  data-bs-placement="top" title="Realizar Entrada">
                  <i class="text-success fs-4 fa-solid fa-person-circle-plus"></i>
                </a>
                {% else %}
                  {% if entrada.transferencia_entrada %}
                    Aguardando Saída
                  {% endif %}
                {% endif %}

              </td>
  
              {% endfor %}
  
  
          </tbody>
        </table>
      </div>
  
  
  
      {% /Fieldset %}

{% endblock %}
