{% extends 'rotina_modulo/base.html' %}

{% load shared_components %}


{% block body %}

    {% Fieldset %}


 
        <div class="row mb-5 justify-content-center">
            {% for estatistica in estatisticas %}
                <div class="col-md-3 my-2"> <!-- Início da Informação -->
                    <div class="card text-white bg-secondary">
                        <div class="card-body">
                            <a class="stretched-link" href="?tipo_entrada={{estatistica.tipo_entrada__id}}"></a>
                            <div class="row align-items-center gx-0">
                                
                                <div class="col text-center">
                                    <!-- Title -->
                                    <h5 class="text-white">
                                        {{estatistica.tipo_entrada__descricao}}
                                    </h5>
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                                        {{estatistica.total}}
                                    </span>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>                 
            {% endfor %}
        </div>
    
       {% if 'unidades.incluir_entradas_na_unidade' in perms %}
       <div class="row">
            <div class="col-4">
                <a href="{% url 'nai:efetivo-nai-incluir' modulo.uuid %}" class="btn btn-primary color-white my-4">
                <i class="fas fa-plus-circle"></i>
                Incluir Adolescente
                </a>
            </div>
       </div>
      {% endif %}

        {% Filtros %}{% /Filtros %}
        <div class="table-responsive-xl">
            <strong>Total: {{entradas|length}}</strong>
            <table class="table border table-hover align-middle" >
                <thead class="table-blue">
                    <tr >
                        <th scope="col">Adolescente</th>
                        <th scope="col">Processo</th>
                        <th scope="col">Data Entrada</th>
                        <th scope="col">Tipo De Entrada</th>
                        <th scope="col" class="text-center">Quarto</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    {% for entrada in entradas %}
                        <tr>
                            <td>
                                {{entrada.adolescente}}
                                <a href="{% url 'prontuario:adolescente-update' entrada.adolescente.uuid %}" class="mx-1" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Prontuário">
                                <i class="text-info fs-8 fa-solid fa-clipboard"></i>
                                </a>
                            </td>
                            <td>{{entrada.processo.str_sem_nome}}</td>
                            <td>{{entrada.data_entrada|default:""}}</td>
                            <td>{{entrada.tipo_entrada|default:""}}</td>
                            <td class="text-center">{{entrada.quarto.numero}}</td>
                            <td class="text-end">
                                
                                {% if entrada.adolescente.tem_risco_ativo %}
                                    <a class="mr-2"
                                        href="{% url 'prontuario:risco-list' entrada.adolescente.uuid %}"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="
                                        Riscos:
                                        {% for risco in entrada.adolescente.riscos_ativos.all %} 
                                            {% if not forloop.first %},{% endif %}
                                            {% for tipo in risco.tipo_risco.all %} 
                                                {{tipo}}{% if not forloop.last %},{% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                        ">
                                        <i class="text-danger fs-4 fa-solid fa-triangle-exclamation"></i>
                                    </a>
                                {% endif %}
                                
                                <a class="mx-2"
                                    href="{% url 'nai:efetivo-nai-edita-quarto' modulo.uuid entrada.uuid %}"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Trocar Quarto">
                                    <i class="text-primary fs-5 fa-solid fa-bed"></i>
                                </a>
                                <a class="mx-2"
                                    href="{% url 'nai:efetivo-nai-retirar' modulo.uuid entrada.uuid %}"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Realizar Saída">
                                    <i class="text-danger fs-5 fa-solid fa-arrow-right-from-bracket"></i>
                                </a>
                            </td>

                        </tr>
                    {% endfor %}



                </tbody>
            </table>
        </div>
        {% Paginacao %}{% /Paginacao %}

        {% /Fieldset %}

{% endblock %}

