{% extends 'rotina_modulo/base.html' %}

{% load shared_components %}

{% block body %}
    <div class="row justify-content-center mt-4">
        {% Fieldset class="bg-light px-3 py-4 mb-2 col-md-6 "%}
        
            <div class="mb-2">
                <span class="fs-5 fw-bold">Retornando: </span>
                {{object.adolescente}}

            </div>
            <div class="my-2">
                <span class="fs-5 fw-bold">Da atividade: </span>
                {{object.atividade.descricao}}
            </div>
            <fieldset class="border rounded position-relative bg-white p-4 my-3">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.adolescente}}
                    {{form.atividade}}
                    {{form.errors}}
                    <div class="row">
                        <div class="col py-1">
                            {% LabeledInput field=form.data_retorno %}{% /LabeledInput %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col py-1">
                            {% LabeledInput field=form.observacoes %}{% /LabeledInput %}
                        </div>
                    </div>
                        <div class="d-flex flex-end mt-2">
                            {% url 'rotina_modulo:modulo-listar-agendamentos' modulo.uuid as voltar_url %}
                            {% BotaoVoltar url=voltar_url class='btn btn-secondary me-2' %}{% /BotaoVoltar %}
                            <input class="btn btn-success me-2" type="submit" value="Retornar">
                        </div>
                
                </form>
            </fieldset>
    
        {% /Fieldset %}

    </div>      
{% endblock %}

