{% extends 'rotina_modulo/base.html' %}

{% load shared_components %}

{% block body %}

    {% Fieldset titulo="Agendamentos" %}
        <div>
            <a class="btn btn-primary mb-2" href="{% url 'rotina_modulo:modulo-atividade-cadastrar-agendamentos' modulo.uuid %}" >
                <i class="me-2 fs-5 fa-regular fa-calendar"></i> Criar Agendamento
            </a>
        </div>
        
        {% Filtros %}{% /Filtros %}
        <div class="table-responsive-xl">
            <table class="table border table-hover align-middle" >
                <thead class="table-blue">
                    <tr >
                        <th class="col-2" scope="col">Data</th>
                        <th class="col-4" scope="col">Adolescente</th>
                        <th class="col-2" scope="col">Atividade</th>
                        <th scope="col">Observações</th>
                        <th class="col-1 text-center" scope="col">Status</th>
                        <th class="col-1 text-center" scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    {% for agendamento in page_obj %}
                        <tr>
                            <td scope="row">{{agendamento.data_prevista_ida|date:"d/m/Y H:i"}}</td>
                            
                            <td scope="row">
                                {{agendamento.adolescente.nome}}                      
                            </td>

                            <td scope="row">{{agendamento.atividade.descricao}}</td>
                            <td scope="row">{{agendamento.observacoes_agendamento}}</td>
                            <td class="col-1 text-center">
                                {% if agendamento.em_atividade %}
                                    <span class="badge bg-success">Em Atividade</span>
                                {% elif agendamento.realizada %}
                                    <span class="badge bg-primary">Realizada</span>
                                {% elif agendamento.nao_realizada %}
                                    <span class="badge bg-warning">Não Realizada</span>
                                {% else %}
                                    <span class="badge bg-info">Agendada</span>
                                {% endif %}
                            </td>
                            <td class="col-1 text-center">
                                {% if not agendamento.realizada and not agendamento.em_atividade %}
                                {% if not agendamento.adolescente.entrada_em_unidade_atual.em_atividade %} 
                                        <a class="mx-2"
                                                href="{% url 'rotina_modulo:modulo-agendamento-enviar' modulo.uuid agendamento.uuid %}"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Enviar">
                                                <i class="text-success fs-5  fa-solid fa-arrow-right-long"></i>
                                        </a>
                                    {% endif %}
                                {% elif agendamento.em_atividade %}
                                <a class="mx-2"
                                        href="{% url 'rotina_modulo:modulo-agendamento-retornar' modulo.uuid agendamento.uuid %}"
                                        data-bs-toggle="tooltip" data-bs-placement="top" title="Retornar">
                                        <i class="text-success fs-5  fa-solid fa-arrow-left-long"></i>
                                </a>
                                {% endif %}
                                {% if not agendamento.realizada and not agendamento.em_atividade%}
                                <a class="mr-2"
                                    href="{% url 'rotina_modulo:modulo-agendamento-editar' modulo.uuid agendamento.uuid %}"
                                    data-bs-toggle="tooltip" data-bs-placement="top" title="Editar Agendamento">
                                    <i class="text-primary fs-5 fa-solid fa-pen-to-square"></i>
                                </a>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}



                </tbody>
            </table>
        </div>
        {% Paginacao %}{% /Paginacao %}

        {% /Fieldset %}

{% endblock %}

