{% extends 'rotina_modulo/base.html' %}

{% load shared_components %}

{% block body %}

<div class="row justify-content-center mt-4">
  {% Fieldset class="bg-light px-3 py-4 mb-2 col-md-6 "%}
  {% arg titulo %}
  Cadastrar Agendamento
  {% endarg %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
    <div class="row mb-1">

      <div class="col">
        <div class="error text-danger">{{form.non_field_errors}}</div>
      </div>

    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12 py-1">
        {% LabeledInput field=form.atividade %}{% /LabeledInput %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 py-1">
        {% LabeledInput field=form.adolescentes %}{% /LabeledInput %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 py-1">
        {% LabeledInput field=form.servidores %}{% /LabeledInput %}
      </div>
    </div>
    <div id="datas">
      <div class="row mt-4 data">
        <div class="col-md-12 py-1">
          {% LabeledInput field=form.data_prevista_ida %}{% /LabeledInput %}
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 align-content-center" align="center">
        <button type="button" onclick="add_data(event)" class="btn btn-primary my-2 mx-auto new-form"
          id="add_data_button"><i class="fa-solid fa-plus"></i></button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 py-1">
        {% LabeledInput field=form.observacoes_agendamento %}{% /LabeledInput %}
      </div>
    </div>

    {% Fieldset legenda="Anexos" %}
    
      {% InlineFormset formset=anexos %}
      {{anexos.non_form_errors}}
      {% arg empty_form %}
      <div class="row justify-content-center">
        {{ anexos.empty_form.id }}
        <div class="col-md-8 mt-auto mt-4 mb-2">
          {% LabeledInput field=anexos.empty_form.anexo %}{% /LabeledInput %}
        </div>
        <div class="col-md-2 mt-auto mt-4 mb-2">
          {% LabeledInput field=anexos.empty_form.DELETE %}{% /LabeledInput %}
        </div>
      </div>
      {% endarg %}
      {% for anexo in anexos %}
      {% FormErrors form=anexo %}{% /FormErrors %}
      {{anexo.errors}}
      {{ anexo.id }}
      <div class="row justify-content-center">
        <div class="col-md-8 mt-auto mb-2">
          {% LabeledInput field=anexo.anexo %}{% /LabeledInput %}
        </div>
        <div class="col-md-2 mt-auto mb-2">
          {% if anexo.instance.criado_por == request.user or not anexo.instance.pk %}
              {% LabeledInput field=anexo.DELETE %}{% /LabeledInput %}
          {% else %}
              <small class="fst-italic" style="color: #777474;"> criado por: {{anexo.instance.criado_por}} </small>
          {% endif %}
        </div>
      </div>
      {% endfor %}

      {% /InlineFormset%}
    
    {% /Fieldset %}

    <div class="row justify-content-center my-4">
      <div class="d-flex flex-row-reverse gap-2 my-3">
        <button class="btn btn-primary" type="submit">Salvar</button>
        {% url 'rotina_modulo:modulo-listar-agendamentos' modulo.uuid as voltar_url %}
        {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
      </div>

    </div>

    {% /Fieldset %}
  </form>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
  function add_data(event) {
    event.preventDefault();
    $('#datas').append($('.data').html());
  }

  $("#id_adolescentes").bsMultiSelect();
  $("#id_servidores").bsMultiSelect();
</script>
{% endblock %}

