{% extends 'rotina_modulo/base.html' %}
{% load shared_components %}

{% block body %}
    {% Form form=form  enctype="multipart/form-data"%}
      
    {{form.modulo}}


    <fieldset class="border rounded p-3 bg-light mb-3">
      <div class="row justify-content-center">
        <div class="col-md-6 py-1">
          {% LabeledInput field=form.adolescente %}{% /LabeledInput %}
        </div>
        <div class="col-md-6 py-1">
          {% LabeledInput field=form.visitante %}{% /LabeledInput %}
        </div>
     
        <div class="col-md-6 py-1">
          {% LabeledInput field=form.data_entrada %}{% /LabeledInput %}
        </div>
        <div class="col-md-6 py-1">
          {% LabeledInput field=form.data_saida %}{% /LabeledInput %}
        </div>
      </div>
    </fieldset>
    <fieldset class="border rounded p-3 bg-light mb-3">
      <div class="row justify-content-center">
        <div class="col-md-12 py-1">
          {% LabeledInput field=form.observacoes %}{% /LabeledInput %}
        </div>
      </div>
    </fieldset>
      
    
    
    
    
    
    {% Fieldset titulo="Pertences" class="col-lg-12 border rounded my-2 p-3 bg-light mb-3 "%}

  {% InlineFormset formset=pertences %}

    {% arg empty_form %}
        {{ pertences.empty_form.id }}
        {{ pertences.empty_form.visita }}
        <div class="border-bottom border-secondary my-4"></div>
        
        <div class="row justify-content-start">
          <div class="col-md-2 mb-2">
            {% LabeledInput field=pertences.empty_form.quantidade %}{% /LabeledInput %}
          </div>
          <div class="col-md-5 mb-2">
            {% LabeledInput field=pertences.empty_form.descricao_item %}{% /LabeledInput %}
          </div>
          <div class="col-md-4 mb-2">
            {% LabeledInput field=pertences.empty_form.data_recebimento %}{% /LabeledInput %}
          </div>
        </div>  
        
        <div class="row justify-content-start">
          <div class="col-md-7 mb-2">
            {% LabeledInput field=pertences.empty_form.observacoes %}{% /LabeledInput %}
          </div>
          <div class="col-md-4 mb-2">
            {% LabeledInput field=pertences.empty_form.data_entrega %}{% /LabeledInput %}
          </div>
          <div class="col-md-1 mt-auto text-center">
            {{pertences.empty_form.DELETE}} <small class="text-danger fw-bold">apagar</small>
          </div>
        </div>
    {% endarg %}

  {% for pertence in pertences %}
    {% FormErrors form=pertence %}{% /FormErrors %}
      {{ pertence.id }}
      {{ pertence.visita }}

      <div class="row justify-content-start">
        <div class="col-md-2 mb-2">
          {% LabeledInput field=pertence.quantidade %}{% /LabeledInput %}
        </div>
        <div class="col-md-5 mb-2">
          {% LabeledInput field=pertence.descricao_item %}{% /LabeledInput %}
        </div>
        <div class="col-md-4 mb-2">
          {% LabeledInput field=pertence.data_recebimento %}{% /LabeledInput %}
        </div>
      </div>  
      
      <div class="row justify-content-start">
        <div class="col-md-7 mb-2">
          {% LabeledInput field=pertence.observacoes %}{% /LabeledInput %}
        </div>
        <div class="col-md-4 mb-2">
          {% LabeledInput field=pertence.data_entrega %}{% /LabeledInput %}
        </div>
        <div class="col-md-1 mt-auto text-center">
          {{pertence.DELETE}} <small class="text-danger fw-bold">apagar</small>
        </div>
      </div>
      {% if not forloop.last %}
      <div class="border-bottom border-secondary my-4"></div>
      {% endif %}

  {% endfor %}

  {% /InlineFormset%}
  {% /Fieldset %}
    
    
    
    
    
    
    
    
    
    
    
      {% arg botao_voltar %}
        {% url 'rotina_modulo:modulo-visita-list' modulo.uuid as voltar_url %}
        {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
      {% endarg %}
    
    
    
      {% /Form %}
{% endblock %}

{% block js %}
  
  <script>
    $(function(){
      $("#id_infracoes_leves").bsMultiSelect();
    });
    $("#id_adolescente").change(function () {
      
        var id_adolescente = $(this).val();  
        if(id_adolescente == "") {
          var selectbox = $('#id_visitante');
          selectbox.find('option').remove();
          selectbox.append("<option value='' selected=''>---------</option>")
        }else{
  
            $.ajax({                       
              url: '/api/adolescentes/visitante/?adolescente='+id_adolescente,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
              type: 'GET',
              dataType: 'json', // added data type
              success: function(data) {
                if (data != null) {
                  var results = data['results']
                  var selectbox = $('#id_visitante');
                  selectbox.find('option').remove();
                  if (results.length > 0){
                    selectbox.append("<option value='' selected=''>Selecione o Visitante</option>")
                  }else{
                    selectbox.append("<option value='' selected=''>Nenhum Visitante Encontrado</option>")
                  }
                  $.each(data['results'], function (i, d) {
                      $('<option>').val(d.id).text(d.nome).appendTo(selectbox);
                  });
              }
      
      
            }
          });
        }
       
    
      });
  
      $( document ).ready(function() {
        var selected = $('#id_processo selected');
        if(!selected){
          $('#id_adolescente').trigger('change');
        }
      });
  
  </script>

{% endblock %}

