{% extends "prontuario/base.html" %}
{% load shared_components %}


{% block body %}



    {% Form form=form enctype="multipart/form-data" %}


        <fieldset class="border rounded p-3 bg-light mb-3">
  
        
        <div class="row align-items-center">
          <div class="col-md-7 py-1">
              {% LabeledInput field=form.anexo %} {% /LabeledInput %}
          </div>
            <div class="col-md-5 py-1">
                {% LabeledInput field=form.descricao %} {% /LabeledInput %}
            </div>
        </div>
        
        </fieldset>

        {% arg botao_voltar %}
        {% url 'prontuario:relatorio-list' adolescente.uuid as voltar_url %}
        {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
        {% endarg %}

        {% arg botoes_extra %}
  
          {% if form.instance.pk %}    
            <a class = 'btn btn-danger' data-bs-toggle="modal" data-bs-placement="top" title="Deletar" data-bs-target="#deletar{{relatorio.id}}">
              Deletar
            </a>
          {% endif %}
    
      {% endarg %}


    {% /Form %}


{% endblock %}


{% block modals %}
    {% Modal %}
      {% arg id %}deletar{{relatorio.id}}{% endarg %}
      Tem certeza que deseja <b>DELETAR</b> este arquivo?
      <br>
      {% arg botoes %}
        {% if form.instance.pk %}
          <form method="POST" action="{% url 'prontuario:relatorio-delete' adolescente.uuid relatorio.uuid %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger btn-foto" value="Deletar">
          </form>
        {% endif %}
      {% endarg %}
    {% /Modal %}
{% endblock %}
