<!DOCTYPE html>
<html lang="pt-BR">
<head>
<style>
	body {
		background-color: white;
	}
	@charset "UTF-8";
	@page {
		margin: 1cm;
		margin-top: 3cm;
		margin-bottom: 1cm;
		size: portrait;
		@bottom-center{
			content: "Page " counter(page) " of " counter(pages);
			font-size: 0.5rem;
		}
	}
	@media screen {
		div.divHeader {
			display: none;
		}
	}
	@media print {
		div.divHeader {
			position: fixed;
			top: 0;
			margin-top: -2.5cm;
			width: 100%;
		}
	}

	.footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		margin-bottom: -0.6cm;
	}

</style>
</head>
<body>
<div class="divHeader d-flex justify-content-between">
	<div>
		<img src="/static/images/LogoSocioeducativo.png" alt="logo socioeducativo" style="height:80px;width:70px">
	</div>
	<div style="text-align: center;">
		<span><strong>GOVERNO DO DISTRITO FEDERAL</strong></span><br>
		<span>SECRETARIA DE JUSTIÇA E CIDADANIA DO DISTRITO FEDERAL</span><br>
		<span>SUBSECRETARIA DO SISTEMA SOCIOEDUCATIVO</span>
	</div>
	<div>
		<img src="/static/images/brasao-gdf.png" alt="Brasão GDF" style="height:80px;width:70px">
	</div>
</div>
<div class="conteudo">
	<div class="identificacao" style="border-top: 2px solid #000000;border-bottom: 2px solid #000000;">
	<div class="row">
		<div class="col-12"><strong>Identificação</strong></div>
		<div class="col-12">
			{% if adolescente.foto_mais_recente.foto.url %}
			<img src="/app/uploads/{{ adolescente.foto_mais_recente.foto }}" alt="foto do adolescente" style="height:100px;width:90px">
			{% else %}
			<img src="/static/images/fotoAdolescente.jpg" alt="foto do adolescente" style="height:90px;width:80px">
			{% endif %}
		</div>
		<div class="col-3">Nome: </div>
		<div class="col-9">
			{% if adolescente.nome %}
				{{adolescente.nome}}
			{% endif %}
		</div>
			<div class="col-3">Data de Nascimento: </div>
			<div class="col-9">
				{%if adolescente.data_nascimento %}
					{{ adolescente.data_nascimento|date:"d/m/Y"}}
				{% endif %}
			</div>
			<div class="col-3">Nome da Mãe: </div>
			<div class="col-9">
				{%if adolescente.nome_mae %}
					{{ adolescente.nome_mae}}
				{% endif %}
			</div>
			<div class="col-3">SIPIA: </div>
			<div class="col-9">
				{%if adolescente.sipia %}
					{{ adolescente.sipia }}
				{% endif %}
			</div>
			</div>
			</div>
			<div class="contato">
			<div class="row">
			<div class="col-12"><strong>Contato</strong></div>
			{% if adolescente.telefones.all %}
				{% for telefone in adolescente.telefones.all %}
					<div class="col-3">Numero de Telefone: </div>
					<div class="col-9">
						{{telefone.telefone}}
					</div>
					<div class="col-3">Descrição: </div>
					<div class="col-9">
						{{telefone.descricao}}
					</div>
				{% endfor %}
			{% else %}
			<div class="col-3">Telefone: </div>
			<div class="col-9">Não informado</div>
			{%endif%}
			</div>
			</div>
			<div class="endereco">
			<div class="row">
			<div class="col-12"><strong>Endereço</strong></div>
			{% if adolescente.enderecos.all %}
				{% for endereco in adolescente.enderecos.all %}
					<div class="col-3">Logradouro: </div>
					<div class="col-9">{{endereco.logradouro}}, {{endereco.numero}}, {{endereco.complemento}}
					</div>
					<div class="col-3">Bairro: </div>
					<div class="col-9">
						{{endereco.bairro}}
					</div>

					<div class="col-3">Cidade: </div>
					<div class="col-9">
						{{endereco.cidade}}
					</div>
				{% endfor %}
			{% else %}
			<div class="col-3">Endereço: </div>
			<div class="col-9">Não informado</div>
			{%endif%}
			</div>
			</div>
			<div class="dados_gerais">
			<div class="row">
			<div class="col-12"><strong>Dados Gerais</strong></div>
			<div class="col-3">Gênero: </div>
			<div class="col-9">
				{%if adolescente.genero %}
					{{ adolescente.genero}}
				{% endif %}
			</div>
			<div class="col-3">Cor:</div>
			<div class="col-9">
				{% if adolescente.cor %}
					{{ adolescente.cor}}
				{% endif %}
			</div>
			<div class="col-3">Nacionalidade:</div>
			<div class="col-9">
				{% if adolescente.nacionalidade %}
					{{ adolescente.nacionalidade}}
				{% endif %}
			</div>
			<div class="col-3">Naturalidade:</div>
			<div class="col-9">
				{% if adolescente.naturalidade %}
					{{ adolescente.naturalidade}}
				{% endif %}
			</div>
			<div class="col-3">Nome Social: </div>
			<div class="col-9">
				{%if adolescente.nome_social %}
					{{ adolescente.nome_social}}
				{% endif %}
			</div>
			<div class="col-3">Email: </div>
			<div class="col-9">
				{% if adolescente.email %}
					{{ adolescente.email}}
				{% endif %}
			</div>
			<div class="col-3">Apelido: </div>
			<div class="col-9">
				{%if adolescente.apelido %}
					{{ adolescente.apelido}}</p>
				{% endif %}
			</div>
			<div class="col-3">CPF: </div>
			<div class="col-9">
				{{adolescente.cpf.value | default_if_none:"Não informado" }}
			</div>
			<div class="col-3">RG: </div>
			<div class="col-9">
				{{adolescente.rg.value | default_if_none:"Não informado" }}
			</div>
			<div class="col-3">Orgão Expedidor: </div>
			<div class="col-9">
				{{adolescente.orgao_expedidor.value | default_if_none:"Não informado" }}
			</div>
			<div class="col-3">UF: </div>
			<div class="col-9">
				{{adolescente.uf_expedicao.value | default_if_none:"Não informado" }}
			</div>
			<div class="col-3">CNH: </div>
			<div class="col-9">
				{{adolescente.cnh.value | default_if_none:"Não informado" }}
			</div>
			<div class="col-3">CTPS: </div>
			<div class="col-9">
				{{adolescente.ctps.value | default_if_none:"Não informado" }}
			</div>
			<div class="col-3">Título de Eleitor: </div>
			<div class="col-9">
				{{adolescente.titulo_eleitor.value | default_if_none:"Não informado" }}
			</div>
			<div class="col-3">PIS: </div>
			<div class="col-9">
				{{adolescente.pis.value | default_if_none:"Não informado" }}
			</div>
			</div>
			</div>
			<div class="familiares">
				<div class="row">
					<div class="col-12"><strong>Familiares</strong></div>
			{% if adolescente.familiares.all %}
				{% for familiar in adolescente.familiares.all %}
				<div class="col-3">Nome do Familiar: </div>
				<div class="col-9">
					{{familiar.nome}}
				</div>
				<div class="col-3">Vinculo Familiar: </div>
				<div class="col-9">
					{{familiar.vinculo}}
				</div>
				<div class="col-3">CPF: </div>
				<div class="col-9">
					{{familiar.cpf | default_if_none:"Não informado" }}
				</div>
				<div class="col-3">RG: </div>
				<div class="col-lg-9">
					{{familiar.rg | default_if_none:"Não informado" }}
				</div>
				{% endfor %}
			{% else %}
			<div class="col-3">Parentes: </div>
			<div class="col-9">Não informado</div>
			{% endif %}
	</div>
	</div>
</div>
<div class="footer">
	<div class="d-flex justify-content-between" style="border-top: solid 1.5px #000000;">
		<div style="font-size: 0.8rem;">Impresso: {% now "d/m/Y" %} às {% now "G:i" %} </div>
		<div style="font-size: 0.8rem;">Brasília - Patrimônio Cultural da Humanidade</div>
	</div>
</div>
</body>
</html>
