
{% extends "prontuario/base.html" %}
{% load shared_components %}

{% block submenu%}
{% endblock %}
{% block body %}



        <!-- Navigation-->
       
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <div class="col-auto position-relative">
                  {% if adolescente.foto_mais_recente.foto.url %}
                  <img src="{{ adolescente.foto_mais_recente.foto.url }}" style="width: 10rem" class="img-fluid foto-img shadow-sm"
                    alt="foto do adolescente">
                    {% if  request.resolver_match.url_name == 'adolescente-update' %}
                    <button type="button" data-bs-toggle="modal" data-bs-placement="top" title="Editar Foto" data-bs-target="#fotos_modal" class="btn btn-primary btn-foto"><i class="fa-solid fa-images"></i></button>
                    {% endif %}
                  {% else %}
                  <img src="{% static 'images/fotoAdolescente.jpg' %}" class="img-fluid foto-img shadow-sm"
                    alt="foto do adolescente">
                    {% if  request.resolver_match.url_name == 'adolescente-update' %}<button type="button" data-bs-toggle="modal" data-bs-placement="top" title="Inserir Foto"
                    data-bs-target="#fotos_modal" class="btn btn-primary btn-foto"><i class="fa-solid fa-images"></i></button>{% endif %}
                  {% endif %}
                </div>
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">{{adolescente.nome}}</h1>
                <!-- Icon Divider-->
            </div>
        </header>
        <!-- About Section-->
        <section class="border rounded mx-2 p-3 bg-light my-4" >
        
                <!-- Contact Section Heading-->

   
{% Fieldset legenda="Dados Gerais" class="col-lg-12 border rounded my-2 p-3 bg-light "%}
                
              <br/>
                <div class="row justify-content">
                  {{documento.adolescente}}
                    <div class="col-lg-3 col-xl-4">
                        {%if adolescente.data_nascimento %}
                        <p ><b>Data de Nascimento:</b> {{ adolescente.data_nascimento|date:"d/m/Y"}}</p>
                        {% endif %}
                    </div>
                    <div class="col-lg-3 col-xl-4">
                      {%if adolescente.genero %}
                      <p ><b>Gênero:</b> {{ adolescente.genero}}</p>
                      {% endif %}
                    </div>
                    <div class="col-lg-3 col-xl-4">
                      {% if adolescente.cor %}
                      <p ><b>Cor:</b> {{ adolescente.cor}}</p>
                      {% endif %}
                    </div>
                    <div class="col-lg-3 col-xl-4">
                      {% if adolescente.nacionalidade %}
                      <p ><b>Nacionalidade:</b> {{ adolescente.nacionalidade}}</p>
                      {% endif %}
                    </div>
                </div>
                <div class="row justify-content">
                  <div class="col-lg-3 col-xl-4">
                      {%if adolescente.sipia %}
                      <p ><b>SIPIA:</b> {{ adolescente.sipia }}</p>
                      {% endif %}
                  </div>
                  <div class="col-lg-3 col-xl-4">
                    {%if adolescente.nome_social %}
                    <p ><b>Nome Social:</b> {{ adolescente.nome_social}}</p>
                    {% endif %}
                  </div>
                  <div class="col-lg-3 col-xl-4">
                    {% if adolescente.email %}
                    <p ><b>Email:</b> {{ adolescente.email}}</p>
                    {% endif %}
                  </div>
              </div>
              <div class="row justify-content">
                <div class="col-lg-3 col-xl-4">
                    {%if adolescente.nome_mae %}
                    <p ><b>Nome da Mãe:</b> {{ adolescente.nome_mae}}</p>
                    {% endif %}
                </div>
                <div class="col-lg-3 col-xl-4">
                  {%if adolescente.apelido %}
                  <p ><b>Apelido:</b> {{ adolescente.apelido}}</p>
                  {% endif %}
                </div>
              
            </div>
            {% /Fieldset %}
        </section>



        <section class="border rounded mx-2 p-3 bg-light my-4 row justify-content" >
       

   
{% Fieldset legenda="Familiares" class="col-lg-6 border rounded my-2 p-3 bg-light  "%}
  

  
<!-- Familiares -->

{% comment %} <div class=" col-lg-6 border rounded m-2 p-3 bg-light mb-3">  {% endcomment %}
  {% for familiar in familiares %}


    <div class="row  px-2 mb-5 ">

      
      <div class="col-lg-6 px-1 mt-auto mb-2">
        <b> Nome do Familiar:</b> {{ familiar.nome.value  | default_if_none:"Não informado" }}
      </div>
      <div class="form-check form-switch col-lg-4">
        <b> É Responsavel:</b>
       <input class="form-check-input" type="checkbox" disabled="" role="switch" id="flexSwitchCheckChecked" {% if familiar.responsavel.value  %} checked="" entrei {% else %}  "" {% endif %}>
      </div>
      <div class="row  px-2 mb-5 mt-2">
        <div class="col-lg-5 px-1 mt-auto mb-2">
          <b> Vinculo Familiar:</b>  {{familiar.vinculo.value  | default_if_none:"Não informado" }}
        </div>
  
        <div class="col-lg-4 px-1 mt-auto mb-2">
          <b> CPF:</b>  {{familiar.cpf.value  | default_if_none:"Não informado" }}
        </div>

        <div class="col-lg-3 px-1 mt-auto mb-2">
          <b> RG</b>  {{familiar.rg.value  | default_if_none:"Não informado" }}
        </div>
        <div class="form-check form-switch col-lg-4">
          <b> Visitante autorizado </b>
          <input class="form-check-input" type="checkbox" disabled="" role="switch" id="flexSwitchCheckChecked" {% if familiar.visitante_autorizado.value  %} checked="" entrei {% else %}  "" {% endif %}>
        </div>
        <div class="col-lg-6 px-1 mt-auto mb-2">
          <b> Trabalho do responsável:</b> {{ familiar.trabalho.value  | default_if_none:"Não informado" }}
        </div>
        <div class="col-lg-6 px-1 mt-auto mb-2">
          <b> Renda:</b> {{ familiar.renda.value  | default_if_none:"Não informado" }}
        </div>
      </div>
    </div>


    {% endfor %}
 
 

  {% /Fieldset %}



<!-- telefone.id -->
{% Fieldset legenda="Telefones" class="col-lg-6 border rounded my-2 p-3 bg-light "%}


  {% for telefone in telefones %}

  <div class="row px-2 mb-5 mt-2 ">
    <div class="row col-12">
      <div class="col-lg-8 px-1 mt-auto mb-2">
       <b>Numero de Telefone:</b> {{telefone.telefone.value  | default_if_none:"Não informado" }}
      </div>
  <div class="col-lg-4 px-1 mt-auto mb-2">
  
    <div class="form-check form-switch">
        <b>É o principal</b> 
        <input class="form-check-input" type="checkbox" disabled="" role="switch" id="flexSwitchCheckChecked" {% if telefone.principal.value %} checked='' {% else %}{% endif %}>
      </div>
    </div>

    </div>
    <div class="row">
      <span class="col-lg-12 px-1 mt-auto mb-2">
        <b>Descrição:</b> {{telefone.descricao.value  | default_if_none:"Não informado" }}
       </span>
    </div>
    <div class="form-check form-switch">
      <b>Telefone Autorizado</b> 
      <input class="form-check-input" type="checkbox" disabled="" role="switch" id="flexSwitchCheckChecked" {% if telefone.telefone_autorizado.value %} checked='' {% else %}{% endif %}>
    </div>
  </div>
  {% endfor %}
  {% /Fieldset %}


</div>



</section>
</div>

</span>
<!-- Dados Documentais -->
<section class="border rounded mx-2 p-3 bg-light my-4 justify-align-left">
  
  
{% Fieldset legenda="Documentos" class="col-lg-12 border rounded my-2 p-3 bg-light  "%}

  <div class="row col-12">
    <div class="col-lg-3 mt-auto mb-2">
      <b>CPF:</b> {{form.cpf.value  | default_if_none:"Não informado" }}
    </div>
    <div class="col-lg-3 mt-auto mb-2">
      <b>RG:</b> {{form.rg.value  | default_if_none:"Não informado" }}
    </div>
    <div class="col-lg-4 mt-auto mb-2">
      <b>Orgão Expedidor:</b> {{form.orgao_expedidor.value  | default_if_none:"Não informado" }}
    </div>
    <div class="col-lg-2 mt-auto mb-2">
      <b>UF:</b> {{form.uf_expedicao.value  | default_if_none:"Não informado" }}
    </div>

  </div>
  <div class="row col-12">
    
    <div class="col-lg-3 mt-auto mb-2">
      <b>CNH:</b> {{form.cnh.value  | default_if_none:"Não informado" }}
    </div>
    <div class="col-lg-3 mt-auto mb-2">
      <b>CTPS:</b> {{form.ctps.value  | default_if_none:"Não informado" }}
    </div>
    <div class="col-lg-4 mt-auto mb-2">
      <b>Titulo de Eleitor:</b> {{form.titulo_eleitor.value  | default_if_none:"Não informado" }}
    </div>
    <div class="col-lg-2 mt-auto mb-2">
      <b>PIS:</b> {{form.pis.value  | default_if_none:"Não informado" }}
    </div>

  </div>
  <div class="row  col-12">
    
    <p class="col-lg-6  mt-auto mb-2">
      <b>Outros Documentos:</b> {{form.outros_documentos.value  | default_if_none:"Não informado" }}
    </p>
    <div class="col-lg-4 mt-auto mb-2">
      <b>E-Gov:</b> {{form.e_gov.value  | default_if_none:"Não informado" }}
    </div>
    <div class="col-lg-2 mt-auto mb-2">
      <b>CDI:</b> {{form.cdi.value  | default_if_none:"Não informado" }}
    </div>
    <div class="row  col-12">
      <p class="col-lg-6  mt-auto mb-2">
        <b>Data de expedição da identidade:</b> {{form.data_expedicao_identidade.value  | default_if_none:"Não informado" }}
      </p>
      <div class="col-lg-4 mt-auto mb-2">
        <b>Certidão de Nascimento:</b> {{form.certidao_nascimento.value  | default_if_none:"Não informado" }}
      </div>
      <div class="col-lg-2 mt-auto mb-2">
        <b>Cartão bancário:</b> {{form.cartao_bancario.value  | default_if_none:"Não informado" }}
      </div>

  </div>
  {% /Fieldset %}
</section>
<section class="border rounded mx-2 p-3 bg-light my-4 justify-align-left">
  
  {% Fieldset legenda="Anexos" class="col-lg-12 border rounded my-2 p-3 bg-light  "%}
 
      {% for documento in documentos_anexados %}
        <div class="row justify-content-center px-2 mb-2 mt-2">
            <div class="col-lg-6 px-1 mt-auto mb-2">
              {%if documento.anexo.value  %}
              <b>Anexo:</b> {{documento.anexo | default_if_none:"Não informado" }} 
             
                <i class="text-success fs-3 fa-solid fa-download"></i>
              {% endif %}
            </div>
            <div class="col-lg-6 px-1 mt-auto mb-2">
              <b>Descrição:</b> {{documento.descricao.value  | default_if_none:"Não informado" }}
            </div>
        </div>
      {% endfor %}


      {% /Fieldset %}

  
</section>

<div align="right">
  {% url 'prontuario:adolescente-list' as voltar_url %}
  {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
</div>
{% endblock %}

