{% extends "prontuario/base.html" %}
{% load shared_components %}

{% block submenu %}
  {% comment %} Mostra o submenu só se estiver editando {% endcomment %}
  {% if form.instance.id %}
    {{block.super}}
  {% endif %}
{% endblock %}


{% block body %}

{% if not request.resolver_match.url_name == 'adolescente-create' %}
  {% CardAdolescente %}{% /CardAdolescente %}
{% endif %}

{% if adolescente %}
<a href="{% url 'prontuario:adolescente-detail-to-print' adolescente.uuid %}" class="btn btn-primary color-white m-2"
    target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Prontuário">
    <i class="fa-solid fa-print"></i>
    Imprimir
</a>
{% endif %}

{% Form form=form enctype="multipart/form-data" titulo="" %}

{% Modal id="fotos_modal" %}
{% InlineFormset formset=fotos disabled="true"%}

{%for foto in fotos %}
{% FormErrors form=foto %}{% /FormErrors %}
{{foto.errors}}
{{foto.id}}
{{foto.adolescente}}
<div class="row justify-content-center">
  <div class="col-lg-6 my-3">
    <b class="mx-2">Foto {{forloop.counter}}:</b>
    {% UnlabeledInput field=foto.foto %} {% /UnlabeledInput %}
    <span>
      {% if not forloop.last %}
      Apagar? {{foto.DELETE}}
      {% endif %}
    </span>
  </div>
</div>
{% endfor %}

{% /InlineFormset%}
{% arg botoes %}
<input class="btn btn-primary" type="submit" value="Salvar">
{% endarg %}

{% /Modal %}





<!-- Dados Gerais -->
{% Fieldset legenda="Dados Gerais" legenda_transparente="True" class="border rounded mx-2 p-3 bg-light my-4"%}
{% if request.user.servidor.unidade %}
    {% if form.instance.entradas_em_unidades.count >= 1 %}
      <div class="mb-2 col-12 ">
          <a href="/prontuario/adolescente/{{form.instance.uuid}}/historico/"  class="btn btn-outline-primary">
          Quantidade de entradas em {{request.user.servidor.unidade}}: <span class="badge btn-secondary">{{ passagens_unidade_usuario }}</span>
          </a>
      </div>
    {% else %}

    <div class="mb-2 col-12 ">
      <a  class="btn btn-outline-danger">
      O adolescente não tem nenhuma entrada no sistema
      </a>
    </div>
    {% endif %}
{% endif %}

  <div class="row mb-2 ">
    <div class="col-lg-6">
      {% LabeledInput field=form.nome %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3">
      {% LabeledInput field=form.data_nascimento %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3">
      {% LabeledInput field=form.sipia %} {% /LabeledInput %}
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-lg-3">
      {% LabeledInput field=form.cor %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3">
      {% LabeledInput field=form.genero %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3">
      {% LabeledInput field=form.nome_social %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3">
      {% LabeledInput field=form.email %} {% /LabeledInput %}
    </div>
  </div>
  <div class="row mb-2 ">
    <div class="col-lg-6">
      {% LabeledInput field=form.nome_mae %} {% /LabeledInput %}
    </div>
    <div class="col-lg-6">
      {% LabeledInput field=form.apelido %} {% /LabeledInput %}
    </div>
    
  </div>
{% /Fieldset %}

<!-- Dados Documentais -->
{% Fieldset legenda="Dados Documentais" legenda_transparente="True" class="border rounded mx-2 p-3 bg-light my-4" %}

  <div class="row ">
    
    <div class="col-lg-3">
      {% LabeledInput field=form.cpf %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3">
      {% LabeledInput field=form.rg %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3">
      {% LabeledInput field=form.orgao_expedidor %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3">
      {% LabeledInput field=form.uf_expedicao %} {% /LabeledInput %}
    </div>

  </div>
  <div class="row ">
    
    <div class="col-lg-3">
      {% LabeledInput field=form.cnh %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3">
      {% LabeledInput field=form.ctps %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3">
      {% LabeledInput field=form.pis %} {% /LabeledInput %}
    </div>
    <div class="col-lg-3">
      {% LabeledInput field=form.titulo_eleitor %} {% /LabeledInput %}
    </div>

  </div>
  <div class="row ">
    
    <div class="col-lg-4">
      {% LabeledInput field=form.e_gov %} {% /LabeledInput %}
    </div>
    <div class="col-lg-4">
      {% LabeledInput field=form.cam %} {% /LabeledInput %}
    </div>
    <div class="col-lg-4">
      {% LabeledInput field=form.cdi %} {% /LabeledInput %}
    </div>

  </div>
  <div class="row ">
    
    <div class="col-lg-4">
      {% LabeledInput field=form.data_expedicao_identidade %} {% /LabeledInput %}
    </div>
    <div class="col-lg-4">
      {% LabeledInput field=form.naturalidade %} {% /LabeledInput %}
    </div>
    <div class="col-lg-4">
      {% LabeledInput field=form.nacionalidade %} {% /LabeledInput %}
    </div>
    <div class="col-lg-4">
      {% LabeledInput field=form.certidao_nascimento %} {% /LabeledInput %}
    </div>
    <div class="col-lg-4">
      {% LabeledInput field=form.cartao_bancario %} {% /LabeledInput %}
    </div>
    
  </div>
  <div class="row ">
    
    <div class="col-lg-12">
      {% LabeledInput field=form.outros_documentos %} {% /LabeledInput %}
    </div>

  </div>


  {% Fieldset legenda="Documentos Anexados" class="border rounded mx-2 p-3 bg-white my-4"%}
    {% InlineFormset formset=documentos_anexados %}
      {% arg empty_form %}
        <div class="row justify-content-center px-2 mb-2 mt-2">
          {{ documentos_anexados.empty_form.id }}
          {{ documentos_anexados.empty_form.adolescente }}
            <div class="col-lg-5 px-1 mt-auto mb-2">
              {% LabeledInput field=documentos_anexados.empty_form.anexo %}{% /LabeledInput %}
            </div>
            <div class="col-lg-6 px-1 mt-auto mb-2">
              {% LabeledInput field=documentos_anexados.empty_form.descricao %}{% /LabeledInput %}
            </div>
            
            <div class="col-lg-1 mt-auto vertical-align-center">
              {{documentos_anexados.empty_form.DELETE}} <small class="text-danger fw-bold">apagar</small>
            </div>
            
        </div>
      {% endarg %}

      {% for documento in documentos_anexados %}
      {% FormErrors form=documento %}{% /FormErrors %}
        <div class="row justify-content-center px-2 mb-2 mt-2">
          {{ documento.id }}
          {{ documento.adolescente}}
            <div class="col-lg-5 px-2 mt-auto mb-2 text-center">  
              {% LabeledInput field=documento.anexo %}{% /LabeledInput %}
            </div>
            <div class="col-lg-6 px-1 mt-auto mb-2">
              {% LabeledInput field=documento.descricao %}{% /LabeledInput %}
            </div>
            {% if 'adolescentes.incluir' in perms %}
            <div class="col-lg-1 mt-auto vertical-align-center">
              {% if documento.instance.criado_por == request.user or not documento.instance.pk %}
                  {{documento.DELETE}} <small class="text-danger fw-bold">apagar</small>
              {% else %}
                  <small class="fst-italic" style="color: #777474;"> criado por: {{documento.instance.criado_por}} </small>
              {% endif %}
              
            </div>
            {% endif %}
        </div>
      {% endfor %}

    {% /InlineFormset%}
  {% /Fieldset %}

{% /Fieldset %}


{% arg botao_voltar %}
  {% url 'prontuario:adolescente-list' as voltar_url %}
  {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}

{% endarg %}

{% /Form %}


{% endblock %}



{% block js_imports %}
{{block.super}}
<script src="{% static 'js/jquery.mask.min.js'%}"></script>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function(){
    $('[name=cpf]').mask('000.000.000-00');
  });
  $("form").submit(function() {
    $('[name=cpf]').unmask();
  });

  $( document ).on( "inlineformset_added", function( event) {
    
      
    $("[id$='uf']").change(function () {
      id_prefix = $(this).attr('id').slice(0,-2);
      var selectboxCidade = $(`#${id_prefix}cidade`);
      var selectboxBairro = $(`#${id_prefix}bairro`);
  
  
      var id_uf = $(this).val();  
      if(id_uf == "") {
       
        selectboxBairro.find('option').remove();
        selectboxBairro.append("<option value='' selected=''>---------</option>")
        selectboxCidade.find('option').remove();
        selectboxCidade.append("<option value='' selected=''>---------</option>")
      }else{
  
          $.ajax({                       
            url: '/api/dominios/cidade/?uf='+id_uf,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            type: 'GET',
            dataType: 'json', // added data type
            success: function(data) {
          
              if (data != null) {
                
                selectboxBairro.find('option').remove();
                selectboxBairro.append("<option value='' selected=''> Nenhuma Cidade Selecionada </option>")
  
             
                selectboxCidade.find('option').remove();
                
                if (data.length > 0){
                  selectboxCidade.append("<option value='' selected=''> Selecione a Cidade </option>")
                }else{
                  selectboxCidade.append("<option value='' selected=''>---------</option>")
                }
    
                $.each(data, function (i, d) {
                    $('<option>').val(d.codigo).text(d.nome).appendTo(selectboxCidade);
                });
            }
    
    
          }
        });
      }
     
  
    });
  
  
    $("[id$='cidade']").change(function () {
      id_prefix = $(this).attr('id').slice(0,-6);
      var selectboxBairro = $(`#${id_prefix}bairro`);
    
      var id_cidade = $(this).val();  
      if(id_cidade == "") {
        selectboxBairro.find('option').remove();
        selectboxBairro.append("<option value='' selected=''>---------</option>")
      }else{
  
          $.ajax({                       
            url: '/api/dominios/bairro/?cidade='+id_cidade,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            type: 'GET',
            dataType: 'json', // added data type
            success: function(data) {
              if (data != null) {
                selectboxBairro.find('option').remove();
                
                if (data.length > 0){
                  selectboxBairro.append("<option value='' selected=''> Selecione o Bairro </option>")
                }else{
                  selectboxBairro.append("<option value='' selected=''>---------</option>")
                }
    
                $.each(data, function (i, d) {
                    $('<option>').val(d.id).text(d.nome).appendTo(selectboxBairro);
                });
            }
    
    
          }
        });
      }
     
  
    });
  




  });
 

 
  
  $( document ).trigger( "inlineformset_added");



</script>
{% endblock %}

