{% extends "prontuario/base.html" %}
{% load shared_components %}


{% block body %}



  {% CardAdolescente %}{% /CardAdolescente %}
  
  {% Fieldset titulo="Riscos" %} 
  <a 
  class="btn btn-primary color-white mb-2"
  href="{% url 'prontuario:risco-create' adolescente.uuid %}"
  > 
  <i class="fas fa-plus-circle"></i>
  Adicionar Risco
  </a>

<div>
  <div class="table-responsive">
<table class="table border table-hover text-center">
  <thead class='table-blue'>
    <tr>
      <th class="text-start col-3 " scope="col">Atendido por:</th>
      <th class="text-start" scope="col">Riscos</th>
      <th class="text-start" scope="col">Descrição</th>
      <th class="text-start" scope="col">Ativo</th>    
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>

    {% for risco in risco_list %}
      
      <tr> 
        
        <td class="text-start" style="text-transform: none;"> 
          {{risco.criado_por}} <small>em {{risco.data_registro|date:"d/m/Y"}}</small>              
        </td>
     
        
        <td class="text-start">
          {% for tipo in risco.tipo_risco.all %} 
            {{tipo}}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td class="text-start">
          {{risco.descricao}}
        </td>
        <td class="text-start">
          {% if risco.ativo %}
            <i class="text-primary fs-4 fa-solid fa-check"></i>
          {% endif %}
        </td>
        <td>
          <a class="mr-2"
          href="{% url 'prontuario:risco-update' adolescente.uuid risco.uuid %}"
          data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"
          > 
          
            <i class="text-primary fs-4 fa-solid fa-pen-to-square"></i>
          
          </a>

        </td>

      </tr>
      
    {% endfor %}


  </tbody>
</table>
</div>
{% /Fieldset %}

{% endblock %}

