<footer>
    
    <div class="d-flex footer-item">    
        <div class="d-flex" style="position:relative;margin-right:0.5rem;">
            <div class="d-flex flex-column my-auto mx-2">
                <div class="sejus">                
                    <span class="text-light">Subsecretaria do<br>Sistema Socioeducativo</span>
                </div> 
            </div>
        </div>

        <div>
            <img class="logo-socioeducativo" src="{% static '/images/Logo Socioeducativo.svg' %}" alt="logo socioeducativo" height="100">
        </div>

    </div>

    <div class="d-flex footer-item">  
        <div class="d-flex" style="position:relative;margin-right:0.5rem;">
            <div class="d-flex flex-column my-auto mx-2">
                <div class="sejus">                
                    <span class="text-light">Secretaria de Justiça<br>e Cidadania do Distrito Federal</span>
                </div> 
            </div>
        </div>

        <div>
            <img class="logo-gdf" src="{% static '/images/logogdf.svg' %}" alt="logo gdf" height="90">
        </div>

    </div>


  

</footer>