<footer>
    
    <div class="d-flex footer-item">    
        <div class="d-flex" style="position:relative;margin-right:0.5rem;">
            <div class="d-flex flex-column my-auto mx-2">
                <div class="sejus">                
                   
                </div> 
            </div>
        </div>

        <div>
          
        </div>

    </div>

    <div class="d-flex footer-item">  
        <div class="d-flex" style="position:relative;margin-right:0.5rem;">
            <div class="d-flex flex-column my-auto mx-2">
                <div class="sejus">                
                    
                </div> 
            </div>
        </div>

        <div>
            
        </div>

    </div>


  

</footer>