
 
<li class="nav-item menu-item justify-content-center">
    <a href="{% url 'posicao:rede-list' %}" class="text-truncate menu-item-text">
        Posição
    </a>
</li> 

 
{% comment %} <li class="nav-item menu-item justify-content-center">
    <a href="{% url 'usuario_empresa:usuario-list' %}" class="text-truncate menu-item-text">
        Lista de Empresas
    </a>
</li>  {% endcomment %}

<li class="nav-item menu-item justify-content-center">
    <a href="{% url 'agendamento:agendamento-list' %}" class="text-truncate menu-item-text">
        Agendamento
    </a>
</li> 

<li class="nav-item menu-item justify-content-center">
    <a href="{% url 'dadosEmpresa:rede-list' %}" class="text-truncate menu-item-text">
        Dados Empresa
    </a>
</li> 