<li class="nav-item menu-item justify-content-center">
    <a href="/" class="text-truncate menu-item-text">
        Home
    </a>
</li> 
 
<li class="nav-item menu-item justify-content-center">
    <a href="{% url 'posicao:rede-list' %}" class="text-truncate menu-item-text">
        Posição
    </a>
</li> 

 
<li class="nav-item menu-item justify-content-center">
    <a href="{% url 'usuario_empresa:usuario-list' %}" class="text-truncate menu-item-text">
        Lista de Empresas
    </a>
</li> 