{% extends "rotina_modulo/base.html" %}
{% load shared_components %}


{% block body %}

{% Fieldset titulo="Solicitações"%}
    <a 
      class="btn btn-primary color-white"
      href="{% url 'rotina_modulo:solicitacao-create' unidade.uuid %}"
      >  
      <i class="fas fa-plus-circle"></i>
      Nova Solicitação
    </a>
  {% Filtros %}{% /Filtros %}
<div class="table-responsive-xl">

  <table class="table border table-hover align-middle">
    <thead class='table-blue'>
      <tr>
        <th class="col-2" scope="col">Data Solicitação</th>
        <th class="col-3" scope="col">Adolescente </th>
        <th scope="col">Ação Solicitada</th>
        <th class="col-1 text-center" scope="col">Status</th>
        <th class="col-1 text-center" scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for solicitacao in page_obj %}
        <tr>
          <td>
            {{solicitacao.criado_em|date:"d/m/Y"}}
          </td>
          <td>
              {% if solicitacao.adolescente %}
                {{solicitacao.adolescente.nome}}
              {% else %}
                {{solicitacao.nome_adolescente}}
              {% endif %}
          </td>
          
          <td>
            {{solicitacao.acao_solicitada.descricao }}
          </td>
          
          <td class="text-center">
            
            {% if solicitacao.get_status_display == "Aguardando Validação" %}
              <span class="badge bg-warning">{{solicitacao.get_status_display}}</span>
            {% elif solicitacao.get_status_display == "Validado" %}
              <span class="badge bg-primary">{{solicitacao.get_status_display}}</span>
            {% elif solicitacao.get_status_display == "Em Análise" %}
              <span class="badge bg-secondary">{{solicitacao.get_status_display}}</span>
            {% elif solicitacao.get_status_display == "Realizado" %}
              <span class="badge bg-success">{{solicitacao.get_status_display}}</span>
            {% elif solicitacao.get_status_display == "Negado" %}
              <span class="badge bg-danger">{{solicitacao.get_status_display}}</span>
            {% endif %}
          </td>

          <td class="text-center">
            
            {% if solicitacao.alteracao_solicitada %}
            <div class="text-danger fw-bold text-align-center py-0 my-0">
              Alteração Solicitada!
            </div>
            
            <div class="text-danger text-align-center py-0 my-0">
                <a tabindex="0" class="text-danger text-align-center text-underline-hover" 
                role="button" data-bs-toggle="popover" data-bs-trigger="focus" 
                title="Mensagem de alteração" data-bs-placement="top" 
                data-bs-content="{{solicitacao.mensagem_alteracao}}">
                <small class="py-0 my-0">Clique para ver</small>
                </a>
            </div>
                
            {% endif %}
          
            <a class="mr-2"
            href="{% url 'rotina_modulo:solicitacao-update' unidade.uuid  solicitacao.uuid %}"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"
            > 
           
                <i class="text-primary fs-4 fa-solid fa-pen-to-square"></i>
       
            </a>
  
            </td>
        </tr>
      {% endfor %}
  
      
    </tbody>
  </table>
</div>
{% Paginacao %}{% /Paginacao %}
{% /Fieldset %}

{% endblock %}

