{% extends "prontuario/base.html" %}
{% load shared_components %}


{% block body %}



    {% Form form=form enctype="multipart/form-data" %}


        <fieldset class="border rounded p-3 bg-light mb-3">
  
        
        <div class="row align-items-center">
            <div class="col-md-5 py-1">
                {% LabeledInput field=form.telefone %} {% /LabeledInput %}
            </div>
            <div class="col-md-5 py-1">
                {% LabeledInput field=form.descricao %} {% /LabeledInput %}
            </div>
            <div class="col-md-2 py-1">
            {% LabeledInput field=form.autorizado %} {% /LabeledInput %}
            </div>
        </div>
        
        <fieldset class="border rounded p-3 bg-light my-3">

            {% InlineFormset formset=anexos %}
            {{anexos.non_form_errors}}
            {% arg empty_form %}
            <div class="row justify-content-center">
              {{ anexos.empty_form.id }}
              <div class="col-md-6 mt-auto mb-2">
                {% LabeledInput field=anexos.empty_form.anexo %}{% /LabeledInput %}
                </div>
                <div class="col-md-2 mt-auto mb-2">
                    {% LabeledInput field=anexos.empty_form.DELETE %}{% /LabeledInput %}
                </div>
            </div>
            {{ anexos.empty_form.telefone }}
            {% endarg %}
            {% for anexo in anexos %}
            {% FormErrors form=anexo %}{% /FormErrors %}
            {{anexo.errors}}
            {{ anexo.id }}
            <div class="row justify-content-center">
              <div class="col-md-6 mt-auto mb-2">
                {% LabeledInput field=anexo.anexo %}{% /LabeledInput %}
              </div>
              <div class="col-md-2 mt-auto mb-2">
                {% if anexo.instance.criado_por == request.user or not anexo.instance.pk %}
                    {% LabeledInput field=anexo.DELETE %}{% /LabeledInput %}
                {% else %}
                    <small class="fst-italic" style="color: #777474;"> criado por: {{anexo.instance.criado_por}} </small>
                {% endif %}
              </div>
            </div>
            {{anexo.telefone }}
            {% endfor %}
          
            {% /InlineFormset%}
          </fieldset>

        

        </fieldset>

        {% arg botao_voltar %}
        {% url 'prontuario:telefone-list' adolescente.uuid as voltar_url %}
        {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
        {% endarg %}


    {% /Form %}


{% endblock %}

