{% extends 'core/reports/base.html' %}
{% block style %}
{{block.super}}
.section-title {
  font-size: 1.1em;
  text-transform: uppercase;
}

{% endblock %}


{% block body %}
<div class="telefones_autorizados"  >
  <div class="col-12 mb-2 section-title"><strong>Telefones Autorizados</strong></div>
  
  
  <table class="table border table-hover align-middle">
    <thead class='table-blue'>
      <tr>
        <th class="col-5" scope="col">Telefone</th>
        <th class="col-4" scope="col">Descrição</th>
      </tr>
    </thead>
    <tbody>
      {% for tel in adolescente.telefones_autorizados.all %}
      <tr>
       
        <td class="col-5">
          {{tel.telefone}}
        </td>
    
        <td class="col-7">
          {{tel.descricao}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br><br><br><br><br><br><br><br>
  <div class="row justify-content-around text-center">
    <div class="col-4" style="border-top: 1px solid #000000;">
      {{adolescente}}
    </div>
  </div>

</div>

{% endblock %}