{% extends "prontuario/base.html" %}
{% load shared_components %}

{% block body %}

  
       {% CardAdolescente %}{% /CardAdolescente %}
       {% Fieldset titulo="Processos" %} 
        <a 
          class="btn btn-primary color-white mb-2"
          href="{% url 'prontuario:processo-create' adolescente.uuid %}"
        > 
        <i class="fas fa-plus-circle"></i>
        Adicionar Processo
      </a>
        
        
          <div class="table-responsive-xl">
            {% Filtros %}{% /Filtros %}

        <table class="table border table-hover align-middle" >
          <thead class="table-blue">
            <tr>
              
              <th scope="col">Número PIA</th>
              <th scope="col">Número do Processo</th>
              <th scope="col">Tipo</th>
              <th scope="col">Vara</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {%for processo in processo_list %}
            <tr>
              
              <td>{{processo.nr_pia|default:''}}</td>
              <td>{{processo.str_sem_nome}}</td>
              <td>{{processo.tipo_processo|default:""}}</td>
              <td>{{processo.vara|default:""|truncatechars:50 }}</td>
              <td>
                <p {% if processo.status == 1 %}class="fw-bold text-success{% endif %}">

                  {{processo.get_status_display}}
                </p>
              </td>
              <td>
                <a class="mr-2"
                href="{% url 'prontuario:processo-update' adolescente.uuid processo.uuid %}"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"
                > 
                
                    <i class="text-primary fs-4  fa-solid fa-pen-to-square"></i>
                  
                </a>
              
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
          {% Paginacao %}{% /Paginacao %}
      
        {% /Fieldset %}
  
 
{% endblock %}
