{% extends "prontuario/base.html" %}
{% load shared_components %}


{% block body %}


  {% CardAdolescente %}{% /CardAdolescente %}
  {% Fieldset titulo="Histórico de entradas em Unidades" %} 
  

    <div>
      {% Filtros %}{% /Filtros %}
      <div class="table-responsive">
      <table class="table border table-hover align-middle">
        <thead class='table-blue'>
          <tr>
            <th scope="col">Unidade</th>
            <th scope="col"> Status </th>
            <th scope="col"> Processo </th>
            <th scope="col"> Ato Infracional </th>
            <th scope="col"> Data Entrada </th>
            <th scope="col"> Tipo Entrada </th>
            <th scope="col"> Data Saída </th>
            <th scope="col"> Tipo Saída </th>
            <th scope="col"> Origem </th>
            <th scope="col"> Destino </th>
            <th scope="col"> Observaçoes Entrada</th>
            <th scope="col"> Observaçoes Saída </th>
          </tr>
        </thead>
        <tbody>

          {% for entrada in entradaadolescente_list %}
          <tr>
            <td>

              {{entrada.unidade.sigla}}
              
            </td>
            <td class="small">
              {% if entrada.status == 1 %}
                <span class="badge bg-warning">{{entrada.get_status_display}}</span>
              {% endif %}
              {% if entrada.status == 2 %}
                <span class="badge bg-success">{{entrada.get_status_display}}</span>
              {% endif %}
              {% if entrada.status == 3 %}
                <span class="badge bg-success">{{entrada.get_status_display}}</span>
              {% endif %}
              {% if entrada.status == 4 %}
                <span class="badge bg-secondary">{{entrada.get_status_display}}</span>
              {% endif %}
            </td>
            <td class="small">{{entrada.processo.str_sem_nome|default:''}}</td>
              <td class="small">
                <small>
                  {% for ato in entrada.processo.atos_infracionais.all %}
                  {{ato}} {% if not forloop.last %} / {% endif %}
                  {% endfor %}
                </small>
              </td>
              <td class="small">
                {% if entrada.data_entrada %}
                  {{entrada.data_entrada|date:'d/m/Y'|default:''}}
                {% elif entrada.data_prevista_entrada %}
                  {{entrada.data_prevista_entrada|date:'d/m/Y'|default:''}} 
                  <small class="fst-italic">(Previsão)</small>
                {% endif %}
              </td>

              <td class="small">{{entrada.tipo_entrada|default:''}}</td>
              <td class="small">{{entrada.data_saida|date:'d/m/Y'|default:''}}</td>
              <td class="small">{{entrada.tipo_saida|default:''}}</td>
              <td class="small">{{entrada.unidade_anterior|default:''}}</td>
              <td class="small">{{entrada.unidade_posterior|default:''}}</td>
              <td class="small">{{entrada.observacoes_entrada|default:''}}</td>
              <td class="small">{{entrada.observacoes_saida|default:''}}</td>
          </tr>

          {% endfor %}


        </tbody>
      </table>
    </div>
    {% Paginacao %}{% /Paginacao %}
  {% /Fieldset %}

{% endblock %}
