{% if modulo or unidade %}
<div class="row mb-3">
    <div class="col-md-12">
  
      
        
      <div class="d-flex justify-content-start flex-wrap submenu">
      {% if modulo %}
          {% include 'painel_indicador/submenu_modulo.html'%}
          {% if modulo.unidade.modulos.count == 1 %}
            {% include 'painel_indicador/submenu_unidade.html' with unidade=modulo.unidade%}    
          {% endif %}
      {% elif unidade %}
        {% if unidade.modulos.count == 1 %}  
            {% include 'painel_indicador/submenu_modulo.html' with modulo=unidade.modulos.first%}
        {% endif %}
        {% include 'painel_indicador/submenu_unidade.html'%}    
          
      {% endif %}
      </div>
  
      
    </div>
  </div>
  {% endif %}
  


