<!-- MODULOS -->
{% if modulo.unidade.modulos.count > 1 %}
    <div class="d-flex justify-content-center item-submenu ">
        <a href="{% url 'rotina_modulo:home-modulos' modulo.unidade.uuid %}" class="">
            <i class="fa-solid fa-house me-1"></i>
            Módulos
        </a>
    </div>
{% endif %}

<!-- QUARTOS -->
{% if modulo.quartos.exists %}
    <div class="d-flex justify-content-center item-submenu {% if 'quartos' in request.resolver_match.url_name %} atual {% endif %}">
        <a href="{% url 'rotina_modulo:quartos-modulo' modulo.uuid %}" class="">
            <i class="fa-solid fa-bed me-1"></i>
            Quartos
        </a>
    </div>
{% endif %}










