{% extends "painel_indicador/base.html" %}
{% load shared_components %}

{% block body %}


{% Fieldset class="border rounded position-relative bg-white px-4 py-0 my-3"%} 
<div class="row justify-content-center">

    <div class="col-xl-7">
        <fieldset class="border rounded position-relative bg-white pt-4 pb-9 px-4 mb-3 mt-4">
            <legend class=" fw-bold legenda-flutuante w-auto fw-bold "> 
            Unidades de Intssssssernação Painel indicadores 
            </legend>
        
    
    
       
        </fieldset>

        <fieldset class="border rounded position-relative bg-white pt-4 pb-9 px-4 mb-3 mt-4">
        <legend class=" fw-bold legenda-flutuante w-auto fw-bold "> 
          Atendimento Inicial
        </legend>
        <div class="table-responsive-xl">
      
          <table class="table table-hover align-middle">
            <thead class='table-blue'>
              <tr>
                <th scope="col" class = "text-center w-25" >Unidade</th>
                <th scope="col" class="col-1"></th>
                <th scope="col" class = "text-center" >Ocupação</th>
              </tr>
            </thead>
            <tbody>

          </tbody>
        </table>
      </div>


    </fieldset>
    </div>
  


{% endblock %}


