{% extends "central/base.html" %}
{% load shared_components %}

{% block body %}

    {% Fieldset %}
    
    {% url 'central:resumo-vagas' as voltar_url %}
    {% BotaoVoltar url=voltar_url %}{% /BotaoVoltar %}
    
    <div class="card text-white" style="width:40%; margin: 20px auto; background-color: #142a3c;">
        <div class="card-body">
            <a class="stretched-link" href="?tipo_entrada={{estatistica.tipo_entrada__id}}"></a>
            <div class="row align-items-center gx-0">
                
                <div class="col text-center">
                    <!-- Heading -->
                    <span class="h1 mb-0">
                        {{unidade.sigla}}
                    </span>
                    <!-- Title -->
                    <h5 class="text-white">
                        <small>{{unidade.nome}}</small>
                    </h5>
                </div>
            </div> 
        </div>
    </div>
    
    
    {% Fieldset titulo="Adolescentes Lotados na Unidade" %}
    
        {% if adolescentes %}
        <div class="table-responsive">
        <table class="table border table-hover align-middle mx-1 mt-4">
            <thead class='table-blue'>
                <tr>
                    <th scope="col">Adolescente</th>
                    <th scope="col">Processo</th>
                    <th scope="col">Data de Entrada</th>
                    <th scope="col">Tipo Entrada</th>
                    <th scope="col">Tipo Vaga</th>
                    <th scope="col">Protetiva</th>
                </tr>
            </thead>
            <tbody>
                {% for adolescente in adolescentes %}
                    <tr>  
                        <td>{{adolescente.adolescente.nome}}</td>

                        <td>{{adolescente.processo.str_sem_nome}}</td>

                        <td>{{adolescente.data_entrada|date:"d/m/Y"}}</td>

                        <td>{{adolescente.tipo_entrada|default:""}}</td>

                        <td>{{adolescente.tipo_vaga|default:""}}</td>

                        <td>
                            {% if adolescente.protetiva %}
                                <i class="fa-solid fa-check"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% /Fieldset %}

        {% Fieldset titulo="Chegadas Previstas" %}
    
            {% if adol_entrada_pendente %}
            <div class="table-responsive">
            <table class="table border table-hover align-middle">
                <thead class='table-blue'>
                    <tr>
                        <th scope="col">Adolescente</th>
                        <th scope="col">Processo</th>
                        <th scope="col">Data Prevista Chegada</th>
                        <th scope="col">Tipo Entrada</th>
                        <th scope="col">Tipo Vaga</th>
                    </tr>
                </thead>
                <tbody>
                    {% for adolescente in adol_entrada_pendente %}
                        <tr>
                            <td>{{adolescente.adolescente.nome}}</td>

                            <td>{{adolescente.processo.str_sem_nome}}</td>

                            <td>{{adolescente.data_prevista_entrada|date:"d/m/Y"}}</td>

                            <td>{{adolescente.tipo_entrada|default:""}}</td>

                            <td>{{adolescente.tipo_vaga}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% /Fieldset %}

            {% Fieldset titulo="Saídas Previstas" %}
            {% if adol_saida_pendente %}
            <div class="table-responsive">
            <table class="table border table-hover align-middle">
                <thead class='table-blue'>
                    <tr>
                        <th scope="col">Adolescente</th>
                        <th scope="col">Processo</th>
                        <th scope="col">Data Prevista Saída</th>
                        <th scope="col">Tipo Saída</th>
                        <th scope="col">Tipo Vaga</th>
                    </tr>
                </thead>
                <tbody>
                    {% for adolescente in adol_saida_pendente %}
                        <tr> 
                            <td>{{adolescente.adolescente.nome}}</td>

                            <td>{{adolescente.processo.str_sem_nome}}</td>

                            <td>{{adolescente.data_prevista_saida|date:"d/m/Y"}}</td>

                            <td>{{adolescente.tipo_saida|default:""}}</td>

                            <td>{{adolescente.tipo_vaga}}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% /Fieldset %}

    {% /Fieldset %}
{% endblock %}