<nav>
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1"><<</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><</a>
        </li>
      {% endif %}
      
      <li class="page-item disabled"><a class="page-link" href="#"> Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
      
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href= "?page={{ page_obj.next_page_number }}">></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">>></a>
      </li>
      {% endif %}
    </ul>
</nav>